<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosafe.xszc.report.vo.ReportDayGroupTotal" >
	<resultMap id="BaseResultMap" type="java.util.HashMap">
		<id column="PK_ID" property="pkId" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
  		<result column="GROUP_PLAN_PERCENT" property="groupPlanPercent" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="GROUP_TOTAL_FEE" property="groupTotalFee" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="GROUP_LEADER" property="groupLeader" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="STAT_DATE" property="statDate" jdbcType="DATE" javaType="java.lang.String" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="DEPT_CODE_2" property="deptCode2" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DEPT_CODE_3" property="deptCode3" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="SALESMAN_CODE" property="salesmanCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="GOT_FEE_TODAY" property="gotFeeToday" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="GOT_FEE_MONTH" property="gotFeeMonth" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="GROUP_PLAN_YEAR" property="groupPlanYear" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="GOT_FEE_YESTERDAY" property="gotFeeYesterday" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="GOT_FEE_YEAR" property="gotFeeYear" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="GROUP_CNAME" property="groupCname" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="GROUP_CODE" property="groupCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 	</resultMap>
	
	<resultMap id="BaseResultVo" type="com.sinosafe.xszc.report.vo.ReportDayGroupTotal">
		<id column="PK_ID" property="pkId" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
  		<result column="GROUP_PLAN_PERCENT" property="groupPlanPercent" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="GROUP_TOTAL_FEE" property="groupTotalFee" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="GROUP_LEADER" property="groupLeader" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="STAT_DATE" property="statDate" jdbcType="DATE" javaType="java.lang.String" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="DEPT_CODE_2" property="deptCode2" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DEPT_CODE_3" property="deptCode3" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="SALESMAN_CODE" property="salesmanCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="GOT_FEE_TODAY" property="gotFeeToday" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="GOT_FEE_MONTH" property="gotFeeMonth" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="GROUP_PLAN_YEAR" property="groupPlanYear" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="GOT_FEE_YESTERDAY" property="gotFeeYesterday" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="GOT_FEE_YEAR" property="gotFeeYear" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="GROUP_CNAME" property="groupCname" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="GROUP_CODE" property="groupCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 	</resultMap>

	<!-- 查询数据列Sql不转换成对应的Java命名 -->
	<sql id="Base_Column_List" >
		t.UPDATED_USER,
		PK_ID,
		to_char(t.GROUP_PLAN_PERCENT*100, 'fm99999999999990.00')  || '%' as "groupPlanPercent",
		t.CREATED_USER,
		to_char(GROUP_TOTAL_FEE, 'fm99999999999990.00') as "groupTotalFee",
		GROUP_LEADER,
		STAT_DATE,
		t.UPDATED_DATE,
		de.dept_simple_name DEPT_CODE_2,
		dept.dept_simple_name DEPT_CODE_3,
		t.CREATED_DATE,
		SALESMAN_CODE,
		to_char(GOT_FEE_TODAY, 'fm99999999999990.00') as "gotFeeToday",
		to_char(GOT_FEE_MONTH, 'fm99999999999990.00') as "gotFeeMonth",
		to_char(GROUP_PLAN_YEAR, 'fm99999999999990.00') as "groupPlanYear",
		to_char(GOT_FEE_YESTERDAY, 'fm99999999999990.00') as "gotFeeYesterday",
		to_char(GOT_FEE_YEAR, 'fm99999999999990.00') as "gotFeeYear",
		GROUP_CNAME,
		GROUP_CODE
	</sql>
	
	<!-- 查询数据列Sql换成对应的Java命名 -->
	<sql id="Base_Column_List_JavaName" >
		UPDATED_USER as "updatedUser",
		PK_ID as "pkId",
		GROUP_PLAN_PERCENT as "groupPlanPercent",
		CREATED_USER as "createdUser",
		GROUP_TOTAL_FEE as "groupTotalFee",
		GROUP_LEADER as "groupLeader",
		STAT_DATE as "statDate",
		UPDATED_DATE as "updatedDate",
		DEPT_CODE_2 as "deptCode2",
		DEPT_CODE_3 as "deptCode3",
		CREATED_DATE as "createdDate",
		SALESMAN_CODE as "salesmanCode",
		GOT_FEE_TODAY as "gotFeeToday",
		GOT_FEE_MONTH as "gotFeeMonth",
		GROUP_PLAN_YEAR as "groupPlanYear",
		GOT_FEE_YESTERDAY as "gotFeeYesterday",
		GOT_FEE_YEAR as "gotFeeYear",
		GROUP_CNAME as "groupCname",
		GROUP_CODE as "groupCode"
	</sql>
	
	<!-- 写入操作的SQL -->
	<sql id="Insert_Base_values">
		#{updatedUser,jdbcType=VARCHAR},
 		#{pkId,jdbcType=BIGINT},
 		#{groupPlanPercent,jdbcType=DOUBLE},
 		#{createdUser,jdbcType=VARCHAR},
 		#{groupTotalFee,jdbcType=DOUBLE},
 		#{groupLeader,jdbcType=VARCHAR},
 		#{statDate,jdbcType=INTEGER},
 		#{updatedDate,jdbcType=DATE},
 		#{deptCode2,jdbcType=VARCHAR},
 		#{deptCode3,jdbcType=VARCHAR},
 		#{createdDate,jdbcType=DATE},
 		#{salesmanCode,jdbcType=VARCHAR},
 		#{gotFeeToday,jdbcType=DOUBLE},
 		#{gotFeeMonth,jdbcType=DOUBLE},
 		#{groupPlanYear,jdbcType=DOUBLE},
 		#{gotFeeYesterday,jdbcType=DOUBLE},
 		#{gotFeeYear,jdbcType=DOUBLE},
 		#{groupCname,jdbcType=VARCHAR},
 		#{groupCode,jdbcType=VARCHAR}
 	</sql>
	
	<!-- 查询条件的sql -->
	<sql id="Base_Where_Sql">
		<where>
		<if test="updatedUser != null and updatedUser != ''">
			and UPDATED_USER = #{updatedUser,jdbcType=VARCHAR}
		</if>
		<if test="pkId != null and pkId != ''">
			and PK_ID = #{pkId,jdbcType=BIGINT}
		</if>
		<if test="groupPlanPercent != null and groupPlanPercent != ''">
			and GROUP_PLAN_PERCENT = #{groupPlanPercent,jdbcType=DOUBLE}
		</if>
		<if test="createdUser != null and createdUser != ''">
			and CREATED_USER = #{createdUser,jdbcType=VARCHAR}
		</if>
		<if test="groupTotalFee != null and groupTotalFee != ''">
			and GROUP_TOTAL_FEE = #{groupTotalFee,jdbcType=DOUBLE}
		</if>
		<if test="groupLeader != null and groupLeader != ''">
			and GROUP_LEADER = #{groupLeader,jdbcType=VARCHAR}
		</if>
		<if test="statDate != null and statDate != ''">
			and STAT_DATE = to_date(#{statDate,jdbcType=VARCHAR},'yyyy-mm-dd')
		</if>
		<if test="updatedDate != null and updatedDate != ''">
			and UPDATED_DATE = #{updatedDate,jdbcType=DATE}
		</if>
		<if test="deptCode2 != null and deptCode2 != ''">
			and DEPT_CODE_2 = f_get_inter_dept(#{deptCode2,jdbcType=VARCHAR})
		</if>
		<if test="deptCode3 != null and deptCode3 != ''">
			and DEPT_CODE_3 = f_get_inter_dept(#{deptCode3,jdbcType=VARCHAR})
		</if>
		<if test="createdDate != null and createdDate != ''">
			and CREATED_DATE = #{createdDate,jdbcType=DATE}
		</if>
		<if test="salesmanCode != null and salesmanCode != ''">
			and SALESMAN_CODE = #{salesmanCode,jdbcType=VARCHAR}
		</if>
		<if test="gotFeeToday != null and gotFeeToday != ''">
			and GOT_FEE_TODAY = #{gotFeeToday,jdbcType=DOUBLE}
		</if>
		<if test="gotFeeMonth != null and gotFeeMonth != ''">
			and GOT_FEE_MONTH = #{gotFeeMonth,jdbcType=DOUBLE}
		</if>
		<if test="groupPlanYear != null and groupPlanYear != ''">
			and GROUP_PLAN_YEAR = #{groupPlanYear,jdbcType=DOUBLE}
		</if>
		<if test="gotFeeYesterday != null and gotFeeYesterday != ''">
			and GOT_FEE_YESTERDAY = #{gotFeeYesterday,jdbcType=DOUBLE}
		</if>
		<if test="gotFeeYear != null and gotFeeYear != ''">
			and GOT_FEE_YEAR = #{gotFeeYear,jdbcType=DOUBLE}
		</if>
		<if test="groupCname != null and groupCname != ''">
			and GROUP_CNAME = #{groupCname,jdbcType=VARCHAR}
		</if>
		<if test="groupCode != null and groupCode != ''">
			and GROUP_CODE = #{groupCode,jdbcType=VARCHAR}
		</if>
		</where>
	</sql>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insertVo" parameterType="com.sinosafe.xszc.report.vo.ReportDayGroupTotal" >
    insert into REPORT_DAY_GROUP_TOTAL (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insert" parameterType="map" >
    insert into REPORT_DAY_GROUP_TOTAL (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from REPORT_DAY_GROUP_TOTAL
    where PK_ID = #{pkId,jdbcType=BIGINT}
	</delete>
<!-- 
	<delete id="deleteByDataKey" parameterType="long">
    delete from REPORT_DAY_GROUP_TOTAL
    where PK_SERIAL = #{data}
	</delete>
 -->
	<update id="updateByPrimaryKeySelective" parameterType="map" >
	update REPORT_DAY_GROUP_TOTAL
	<set>
	<if test="updatedUser != null and updatedUser != ''">
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
	</if>
   	<if test="groupPlanPercent != null and groupPlanPercent != ''">
		GROUP_PLAN_PERCENT = #{groupPlanPercent,jdbcType=DOUBLE},
	</if>
  	<if test="createdUser != null and createdUser != ''">
		CREATED_USER = #{createdUser,jdbcType=VARCHAR},
	</if>
  	<if test="groupTotalFee != null and groupTotalFee != ''">
		GROUP_TOTAL_FEE = #{groupTotalFee,jdbcType=DOUBLE},
	</if>
  	<if test="groupLeader != null and groupLeader != ''">
		GROUP_LEADER = #{groupLeader,jdbcType=VARCHAR},
	</if>
  	<if test="statDate != null and statDate != ''">
		STAT_DATE = #{statDate,jdbcType=INTEGER},
	</if>
  	<if test="updatedDate != null and updatedDate != ''">
		UPDATED_DATE = #{updatedDate,jdbcType=DATE},
	</if>
  	<if test="deptCode2 != null and deptCode2 != ''">
		DEPT_CODE_2 = #{deptCode2,jdbcType=VARCHAR},
	</if>
  	<if test="deptCode3 != null and deptCode3 != ''">
		DEPT_CODE_3 = #{deptCode3,jdbcType=VARCHAR},
	</if>
  	<if test="createdDate != null and createdDate != ''">
		CREATED_DATE = #{createdDate,jdbcType=DATE},
	</if>
  	<if test="salesmanCode != null and salesmanCode != ''">
		SALESMAN_CODE = #{salesmanCode,jdbcType=VARCHAR},
	</if>
  	<if test="gotFeeToday != null and gotFeeToday != ''">
		GOT_FEE_TODAY = #{gotFeeToday,jdbcType=DOUBLE},
	</if>
  	<if test="gotFeeMonth != null and gotFeeMonth != ''">
		GOT_FEE_MONTH = #{gotFeeMonth,jdbcType=DOUBLE},
	</if>
  	<if test="groupPlanYear != null and groupPlanYear != ''">
		GROUP_PLAN_YEAR = #{groupPlanYear,jdbcType=DOUBLE},
	</if>
  	<if test="gotFeeYesterday != null and gotFeeYesterday != ''">
		GOT_FEE_YESTERDAY = #{gotFeeYesterday,jdbcType=DOUBLE},
	</if>
  	<if test="gotFeeYear != null and gotFeeYear != ''">
		GOT_FEE_YEAR = #{gotFeeYear,jdbcType=DOUBLE},
	</if>
  	<if test="groupCname != null and groupCname != ''">
		GROUP_CNAME = #{groupCname,jdbcType=VARCHAR},
	</if>
  	<if test="groupCode != null and groupCode != ''">
		GROUP_CODE = #{groupCode,jdbcType=VARCHAR}
	</if>
  	</set>
	where PK_ID = #{pkId,jdbcType=BIGINT}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="map" >
		update REPORT_DAY_GROUP_TOTAL
		set 
			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
   			GROUP_PLAN_PERCENT = #{groupPlanPercent,jdbcType=DOUBLE},
  			CREATED_USER = #{createdUser,jdbcType=VARCHAR},
  			GROUP_TOTAL_FEE = #{groupTotalFee,jdbcType=DOUBLE},
  			GROUP_LEADER = #{groupLeader,jdbcType=VARCHAR},
  			STAT_DATE = #{statDate,jdbcType=INTEGER},
  			UPDATED_DATE = #{updatedDate,jdbcType=DATE},
  			DEPT_CODE_2 = #{deptCode2,jdbcType=VARCHAR},
  			DEPT_CODE_3 = #{deptCode3,jdbcType=VARCHAR},
  			CREATED_DATE = #{createdDate,jdbcType=DATE},
  			SALESMAN_CODE = #{salesmanCode,jdbcType=VARCHAR},
  			GOT_FEE_TODAY = #{gotFeeToday,jdbcType=DOUBLE},
  			GOT_FEE_MONTH = #{gotFeeMonth,jdbcType=DOUBLE},
  			GROUP_PLAN_YEAR = #{groupPlanYear,jdbcType=DOUBLE},
  			GOT_FEE_YESTERDAY = #{gotFeeYesterday,jdbcType=DOUBLE},
  			GOT_FEE_YEAR = #{gotFeeYear,jdbcType=DOUBLE},
  			GROUP_CNAME = #{groupCname,jdbcType=VARCHAR},
  			GROUP_CODE = #{groupCode,jdbcType=VARCHAR}
  		where PK_ID = #{pkId,jdbcType=BIGINT}
	</update>

	<update id="updateByPrimaryKeySelectiveVo" parameterType="com.sinosafe.xszc.report.vo.ReportDayGroupTotal" >
	update REPORT_DAY_GROUP_TOTAL
	<set>
	<if test="updatedUser != null and updatedUser != ''">
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
	</if>
   	<if test="groupPlanPercent != null and groupPlanPercent != ''">
		GROUP_PLAN_PERCENT = #{groupPlanPercent,jdbcType=DOUBLE},
	</if>
  	<if test="createdUser != null and createdUser != ''">
		CREATED_USER = #{createdUser,jdbcType=VARCHAR},
	</if>
  	<if test="groupTotalFee != null and groupTotalFee != ''">
		GROUP_TOTAL_FEE = #{groupTotalFee,jdbcType=DOUBLE},
	</if>
  	<if test="groupLeader != null and groupLeader != ''">
		GROUP_LEADER = #{groupLeader,jdbcType=VARCHAR},
	</if>
  	<if test="statDate != null and statDate != ''">
		STAT_DATE = #{statDate,jdbcType=INTEGER},
	</if>
  	<if test="updatedDate != null and updatedDate != ''">
		UPDATED_DATE = #{updatedDate,jdbcType=DATE},
	</if>
  	<if test="deptCode2 != null and deptCode2 != ''">
		DEPT_CODE_2 = #{deptCode2,jdbcType=VARCHAR},
	</if>
  	<if test="deptCode3 != null and deptCode3 != ''">
		DEPT_CODE_3 = #{deptCode3,jdbcType=VARCHAR},
	</if>
  	<if test="createdDate != null and createdDate != ''">
		CREATED_DATE = #{createdDate,jdbcType=DATE},
	</if>
  	<if test="salesmanCode != null and salesmanCode != ''">
		SALESMAN_CODE = #{salesmanCode,jdbcType=VARCHAR},
	</if>
  	<if test="gotFeeToday != null and gotFeeToday != ''">
		GOT_FEE_TODAY = #{gotFeeToday,jdbcType=DOUBLE},
	</if>
  	<if test="gotFeeMonth != null and gotFeeMonth != ''">
		GOT_FEE_MONTH = #{gotFeeMonth,jdbcType=DOUBLE},
	</if>
  	<if test="groupPlanYear != null and groupPlanYear != ''">
		GROUP_PLAN_YEAR = #{groupPlanYear,jdbcType=DOUBLE},
	</if>
  	<if test="gotFeeYesterday != null and gotFeeYesterday != ''">
		GOT_FEE_YESTERDAY = #{gotFeeYesterday,jdbcType=DOUBLE},
	</if>
  	<if test="gotFeeYear != null and gotFeeYear != ''">
		GOT_FEE_YEAR = #{gotFeeYear,jdbcType=DOUBLE},
	</if>
  	<if test="groupCname != null and groupCname != ''">
		GROUP_CNAME = #{groupCname,jdbcType=VARCHAR},
	</if>
  	<if test="groupCode != null and groupCode != ''">
		GROUP_CODE = #{groupCode,jdbcType=VARCHAR}
	</if>
  	</set>
	where PK_ID = #{pkId,jdbcType=BIGINT}
	</update>
	
	<update id="updateByPrimaryKeyVo" parameterType="com.sinosafe.xszc.report.vo.ReportDayGroupTotal" >
		update REPORT_DAY_GROUP_TOTAL
		set 
			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
   			GROUP_PLAN_PERCENT = #{groupPlanPercent,jdbcType=DOUBLE},
  			CREATED_USER = #{createdUser,jdbcType=VARCHAR},
  			GROUP_TOTAL_FEE = #{groupTotalFee,jdbcType=DOUBLE},
  			GROUP_LEADER = #{groupLeader,jdbcType=VARCHAR},
  			STAT_DATE = #{statDate,jdbcType=INTEGER},
  			UPDATED_DATE = #{updatedDate,jdbcType=DATE},
  			DEPT_CODE_2 = #{deptCode2,jdbcType=VARCHAR},
  			DEPT_CODE_3 = #{deptCode3,jdbcType=VARCHAR},
  			CREATED_DATE = #{createdDate,jdbcType=DATE},
  			SALESMAN_CODE = #{salesmanCode,jdbcType=VARCHAR},
  			GOT_FEE_TODAY = #{gotFeeToday,jdbcType=DOUBLE},
  			GOT_FEE_MONTH = #{gotFeeMonth,jdbcType=DOUBLE},
  			GROUP_PLAN_YEAR = #{groupPlanYear,jdbcType=DOUBLE},
  			GOT_FEE_YESTERDAY = #{gotFeeYesterday,jdbcType=DOUBLE},
  			GOT_FEE_YEAR = #{gotFeeYear,jdbcType=DOUBLE},
  			GROUP_CNAME = #{groupCname,jdbcType=VARCHAR},
  			GROUP_CODE = #{groupCode,jdbcType=VARCHAR}
  		where PK_ID = #{pkId,jdbcType=BIGINT}
	</update>

	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="Base_Column_List" />
	from REPORT_DAY_GROUP_TOTAL
	where PK_ID = #{pkId,jdbcType=BIGINT}
	</select>
	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKeyVo" resultMap="BaseResultVo" parameterType="java.lang.Long" >
    select <include refid="Base_Column_List" />
	from REPORT_DAY_GROUP_TOTAL
	where PK_ID = #{pkId,jdbcType=BIGINT}
	</select>

	<!-- 条件查询总数据量 -->
	<select id="queryCount" parameterType="map" resultType="long">
	select count(1)
	from REPORT_DAY_GROUP_TOTAL <include refid="Base_Where_Sql" />
	</select>
	
	<!-- 条件查询总数据量 -->
	<select id="queryCountVo" parameterType="com.sinosafe.xszc.report.vo.ReportDayGroupTotal" resultType="long">
	select count(1)
	from REPORT_DAY_GROUP_TOTAL <include refid="Base_Where_Sql" />
	</select>

	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPage" parameterType="map" resultMap="BaseResultMap">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_List"/>
		from REPORT_DAY_GROUP_TOTAL t
		left join department de 
			on t.DEPT_CODE_2 = de.inter_code
		left join department dept 
			on t.DEPT_CODE_3 = dept.inter_code
		<include refid="Base_Where_Sql"/>
		order by t.dept_code_2,t.Group_Code desc
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPageVo" parameterType="map" resultMap="BaseResultVo">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_List"/>
		from REPORT_DAY_GROUP_TOTAL
		<include refid="Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 条件查询 -->
	<select id="query" parameterType="map" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from REPORT_DAY_GROUP_TOTAL
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 条件查询 -->
	<select id="queryVo" parameterType="map" resultMap="BaseResultVo">
		select 
		<include refid="Base_Column_List"/>
		from REPORT_DAY_GROUP_TOTAL
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 综合条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryPage" parameterType="map" resultMap="BaseResultMap">
	<choose>
		<when test="endpoint!=null and endpoint != '' and startpoint != null and startpoint != ''">
		select * from (
			select a.*,rownum rn from (
				select 
				<include refid="Base_Column_List"/>
				from REPORT_DAY_GROUP_TOTAL
				<include refid="Base_Where_Sql"/>
			) a where rownum &lt;= #{endpoint}
		) where rn &gt;= #{startpoint}
		</when>
		<otherwise>
		<!-- 这里的"count"重命名不可修改，否则会出现异常 -->
		select count(1) "count" from REPORT_DAY_GROUP_TOTAL <include refid="Base_Where_Sql" />
		</otherwise>
	</choose>
	</select>
	
	
</mapper>
