<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosafe.xszc.report.vo.ReportDayAgentChannel" >
	<resultMap id="BaseResultMap" type="java.util.HashMap">
		<id column="PK_ID" property="pkId" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="REPORT_DAY" property="reportDay" jdbcType="VARCHAR" javaType="java.lang.String" />
  		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="PARENT_DEPT" property="parentDept" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="MONTH_SIGN" property="monthSign" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="YEAR_SIGN" property="yearSign" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="INSURE_CODE" property="insureCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="SIGN_CODE" property="signCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="BIZ_CODE" property="bizCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="SUPPORT_CODE" property="supportCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="LAST_DAY_SIGN" property="lastDaySign" jdbcType="DOUBLE" javaType="java.lang.Double" />
 	</resultMap>
	
	<resultMap id="BaseResultVo" type="com.sinosafe.xszc.report.vo.ReportDayAgentChannel">
		<id column="PK_ID" property="pkId" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="REPORT_DAY" property="reportDay" jdbcType="VARCHAR" javaType="java.lang.String" />
  		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="PARENT_DEPT" property="parentDept" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="MONTH_SIGN" property="monthSign" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="YEAR_SIGN" property="yearSign" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="INSURE_CODE" property="insureCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="SIGN_CODE" property="signCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="BIZ_CODE" property="bizCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="SUPPORT_CODE" property="supportCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="LAST_DAY_SIGN" property="lastDaySign" jdbcType="DOUBLE" javaType="java.lang.Double" />
 	</resultMap>

	<!-- 查询数据列Sql不转换成对应的Java命名 -->
	<sql id="Base_Column_List" >
		UPDATED_USER,
		REPORT_DAY,
		PK_ID,
		CREATED_USER,
		PARENT_DEPT,
		DEPT_CODE,
		DEPT_NAME,
		MONTH_SIGN,
		YEAR_SIGN,
		UPDATED_DATE,
		CREATED_DATE,
		INSURE_CODE,
		SIGN_CODE,
		BIZ_CODE,
		SUPPORT_CODE,
		AGENT_CODE,
		LAST_DAY_SIGN
	</sql>
	
	<!-- supportCode 协作人  agentCode 渠道名称 -->
	<sql id="Use_Base_Column_List" >
		REPORT_DAY,
		PARENT_DEPT,
		t.DEPT_CODE,
		DEPT_NAME,
		to_char(MONTH_SIGN, 'fm99999999999990.00') as "monthSign",
		to_char(YEAR_SIGN, 'fm99999999999990.00') as "yearSign",
		INSURE_CODE,
		SIGN_CODE,
		BIZ_CODE,
		decode(t.SUPPORT_CODE,'','',CHR(0),NULL,t.SUPPORT_CODE<!-- || '-' || age.c_cha_nme-->) SUPPORT_CODE,
		decode(t.AGENT_CODE,'','',CHR(0),NULL,t.AGENT_CODE<!-- || '-' || agent.c_cha_nme-->) AGENT_CODE,
		to_char(LAST_DAY_SIGN, 'fm99999999999990.00') as "lastDaySign"
	</sql>
	
	<!-- 查询数据列Sql换成对应的Java命名 -->
	<sql id="Base_Column_List_JavaName" >
		UPDATED_USER as "updatedUser",
		REPORT_DAY as "reportDay",
		PK_ID as "pkId",
		CREATED_USER as "createdUser",
		PARENT_DEPT as "parentDept",
		DEPT_CODE as "deptCode",
		DEPT_NAME as "deptName",
		MONTH_SIGN as "monthSign",
		YEAR_SIGN as "yearSign",
		UPDATED_DATE as "updatedDate",
		CREATED_DATE as "createdDate",
		INSURE_CODE as "insureCode",
		SIGN_CODE as "signCode",
		BIZ_CODE as "bizCode",
		SUPPORT_CODE as "supportCode",
		AGENT_CODE as "agentCode",
		LAST_DAY_SIGN as "lastDaySign"
	</sql>
	
	<!-- 写入操作的SQL -->
	<sql id="Insert_Base_values">
		#{updatedUser,jdbcType=VARCHAR},
 		#{reportDay,jdbcType=VARCHAR},
 		#{pkId,jdbcType=INTEGER},
 		#{createdUser,jdbcType=VARCHAR},
 		#{parentDept,jdbcType=VARCHAR},
 		#{deptCode,jdbcType=VARCHAR},
 		#{deptName,jdbcType=VARCHAR},
 		#{monthSign,jdbcType=DOUBLE},
 		#{yearSign,jdbcType=DOUBLE},
 		#{updatedDate,jdbcType=DATE},
 		#{createdDate,jdbcType=DATE},
 		#{insureCode,jdbcType=VARCHAR},
 		#{signCode,jdbcType=VARCHAR},
 		#{bizCode,jdbcType=VARCHAR},
 		#{supportCode,jdbcType=VARCHAR},
 		#{agentCode,jdbcType=VARCHAR},
 		#{lastDaySign,jdbcType=DOUBLE}
 	</sql>
	
	<!-- 查询条件的sql -->
	<sql id="Base_Where_Sql">
		<where>
		<if test="updatedUser != null">
			and UPDATED_USER = #{updatedUser,jdbcType=VARCHAR}
		</if>
		<if test="reportDay != null">
			and REPORT_DAY = #{reportDay,jdbcType=VARCHAR}
		</if>
		<if test="pkId != null">
			and PK_ID = #{pkId,jdbcType=INTEGER}
		</if>
		<if test="createdUser != null">
			and CREATED_USER = #{createdUser,jdbcType=VARCHAR}
		</if>
		<if test="parentDept != null and parentDept !='' ">
			and PARENT_DEPT like #{parentDept,jdbcType=VARCHAR} ||'%'
		</if>
		<if test="deptCode != null">
			and DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
		</if>
		<if test="deptName != null and deptName !='' ">
			and DEPT_NAME like #{deptName,jdbcType=VARCHAR} ||'%'
		</if>
		<if test="monthSign != null">
			and MONTH_SIGN = #{monthSign,jdbcType=DOUBLE}
		</if>
		<if test="yearSign != null">
			and YEAR_SIGN = #{yearSign,jdbcType=DOUBLE}
		</if>
		<if test="updatedDate != null">
			and UPDATED_DATE = #{updatedDate,jdbcType=DATE}
		</if>
		<if test="createdDate != null">
			and CREATED_DATE = #{createdDate,jdbcType=DATE}
		</if>
		<if test="insureCode != null and insureCode !='' ">
			and INSURE_CODE = #{insureCode,jdbcType=VARCHAR}
		</if>
		<if test="signCode != null and signCode !='' ">
			and SIGN_CODE = #{signCode,jdbcType=VARCHAR}
		</if>
		<if test="bizCode != null and bizCode !='' ">
			and BIZ_CODE = #{bizCode,jdbcType=VARCHAR}
		</if>
		<if test="supportCode != null and supportCode !='' ">
			and SUPPORT_CODE = #{supportCode,jdbcType=VARCHAR}
		</if>
		<if test="agentCode != null and agentCode !='' ">
			and AGENT_CODE = #{agentCode,jdbcType=VARCHAR}
		</if>
		<if test="lastDaySign != null">
			and LAST_DAY_SIGN = #{lastDaySign,jdbcType=DOUBLE}
		</if>
		</where>
	</sql>
	
	<sql id="Use_Base_Where_Sql">
		<where>
		<choose>
		   <when test="deptCode != null and deptCode !='' ">
		      and DEPT_CODE = f_get_inter_dept(#{deptCode,jdbcType=VARCHAR})
		   </when>
		   <when test="parentDept != null and parentDept !='' ">
		      and PARENT_DEPT like f_get_inter_dept(#{parentDept,jdbcType=VARCHAR}) || '%'
		   </when>
		   <otherwise></otherwise>
		</choose>
		<if test="reportDay != null and reportDay != ''">
			and REPORT_DAY = #{reportDay,jdbcType=VARCHAR}
		</if>
		<if test="insureCode != null and insureCode !='' ">
			and INSURE_CODE = #{insureCode,jdbcType=VARCHAR}
		</if>
		<if test="bizCode != null and bizCode !='' ">
			and BIZ_CODE = #{bizCode,jdbcType=VARCHAR}
		</if>
		<if test="supportCode != null and supportCode !='' ">
			and t.support_code like #{supportCode,jdbcType=VARCHAR} || '%'
		</if>
		<if test="agentCode != null and agentCode !='' ">
			and t.agent_code like  #{agentCode,jdbcType=VARCHAR} || '%'
		</if>
		<if test="signCode != null and signCode !='' ">
			and SIGN_CODE = #{signCode,jdbcType=VARCHAR}
		</if>
		</where>
	</sql>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insertVo" parameterType="com.sinosafe.xszc.report.vo.ReportDayAgentChannel" >
    insert into REPORT_DAY_AGENT_CHANNEL (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insert" parameterType="map" >
    insert into REPORT_DAY_AGENT_CHANNEL (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from REPORT_DAY_AGENT_CHANNEL
    where PK_ID = #{pkId,jdbcType=INTEGER}
	</delete>
<!-- 
	<delete id="deleteByDataKey" parameterType="long">
    delete from REPORT_DAY_AGENT_CHANNEL
    where PK_SERIAL = #{data}
	</delete>
 -->
	<update id="updateByPrimaryKeySelective" parameterType="map" >
	update REPORT_DAY_AGENT_CHANNEL
	<set>
	<if test="updatedUser != null">
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
	</if>
  	<if test="reportDay != null">
		REPORT_DAY = #{reportDay,jdbcType=VARCHAR},
	</if>
   	<if test="createdUser != null">
		CREATED_USER = #{createdUser,jdbcType=VARCHAR},
	</if>
  	<if test="parentDept != null">
		PARENT_DEPT = #{parentDept,jdbcType=VARCHAR},
	</if>
  	<if test="deptCode != null">
		DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
	</if>
  	<if test="deptName != null">
		DEPT_NAME = #{deptName,jdbcType=VARCHAR},
	</if>
  	<if test="monthSign != null">
		MONTH_SIGN = #{monthSign,jdbcType=DOUBLE},
	</if>
  	<if test="yearSign != null">
		YEAR_SIGN = #{yearSign,jdbcType=DOUBLE},
	</if>
  	<if test="updatedDate != null">
		UPDATED_DATE = #{updatedDate,jdbcType=DATE},
	</if>
  	<if test="createdDate != null">
		CREATED_DATE = #{createdDate,jdbcType=DATE},
	</if>
  	<if test="insureCode != null">
		INSURE_CODE = #{insureCode,jdbcType=VARCHAR},
	</if>
  	<if test="signCode != null">
		SIGN_CODE = #{signCode,jdbcType=VARCHAR},
	</if>
  	<if test="bizCode != null">
		BIZ_CODE = #{bizCode,jdbcType=VARCHAR},
	</if>
  	<if test="supportCode != null">
		SUPPORT_CODE = #{supportCode,jdbcType=VARCHAR},
	</if>
  	<if test="agentCode != null">
		AGENT_CODE = #{agentCode,jdbcType=VARCHAR},
	</if>
  	<if test="lastDaySign != null">
		LAST_DAY_SIGN = #{lastDaySign,jdbcType=DOUBLE}
	</if>
  	</set>
	where PK_ID = #{pkId,jdbcType=INTEGER}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="map" >
		update REPORT_DAY_AGENT_CHANNEL
		set 
			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
  			REPORT_DAY = #{reportDay,jdbcType=VARCHAR},
   			CREATED_USER = #{createdUser,jdbcType=VARCHAR},
  			PARENT_DEPT = #{parentDept,jdbcType=VARCHAR},
  			DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
  			DEPT_NAME = #{deptName,jdbcType=VARCHAR},
  			MONTH_SIGN = #{monthSign,jdbcType=DOUBLE},
  			YEAR_SIGN = #{yearSign,jdbcType=DOUBLE},
  			UPDATED_DATE = #{updatedDate,jdbcType=DATE},
  			CREATED_DATE = #{createdDate,jdbcType=DATE},
  			INSURE_CODE = #{insureCode,jdbcType=VARCHAR},
  			SIGN_CODE = #{signCode,jdbcType=VARCHAR},
  			BIZ_CODE = #{bizCode,jdbcType=VARCHAR},
  			SUPPORT_CODE = #{supportCode,jdbcType=VARCHAR},
  			AGENT_CODE = #{agentCode,jdbcType=VARCHAR},
  			LAST_DAY_SIGN = #{lastDaySign,jdbcType=DOUBLE}
  		where PK_ID = #{pkId,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKeySelectiveVo" parameterType="com.sinosafe.xszc.report.vo.ReportDayAgentChannel" >
	update REPORT_DAY_AGENT_CHANNEL
	<set>
	<if test="updatedUser != null">
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
	</if>
  	<if test="reportDay != null">
		REPORT_DAY = #{reportDay,jdbcType=VARCHAR},
	</if>
   	<if test="createdUser != null">
		CREATED_USER = #{createdUser,jdbcType=VARCHAR},
	</if>
  	<if test="parentDept != null">
		PARENT_DEPT = #{parentDept,jdbcType=VARCHAR},
	</if>
  	<if test="deptCode != null">
		DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
	</if>
  	<if test="deptName != null">
		DEPT_NAME = #{deptName,jdbcType=VARCHAR},
	</if>
  	<if test="monthSign != null">
		MONTH_SIGN = #{monthSign,jdbcType=DOUBLE},
	</if>
  	<if test="yearSign != null">
		YEAR_SIGN = #{yearSign,jdbcType=DOUBLE},
	</if>
  	<if test="updatedDate != null">
		UPDATED_DATE = #{updatedDate,jdbcType=DATE},
	</if>
  	<if test="createdDate != null">
		CREATED_DATE = #{createdDate,jdbcType=DATE},
	</if>
  	<if test="insureCode != null">
		INSURE_CODE = #{insureCode,jdbcType=VARCHAR},
	</if>
  	<if test="signCode != null">
		SIGN_CODE = #{signCode,jdbcType=VARCHAR},
	</if>
  	<if test="bizCode != null">
		BIZ_CODE = #{bizCode,jdbcType=VARCHAR},
	</if>
  	<if test="supportCode != null">
		SUPPORT_CODE = #{supportCode,jdbcType=VARCHAR},
	</if>
  	<if test="agentCode != null">
		AGENT_CODE = #{agentCode,jdbcType=VARCHAR},
	</if>
  	<if test="lastDaySign != null">
		LAST_DAY_SIGN = #{lastDaySign,jdbcType=DOUBLE}
	</if>
  	</set>
	where PK_ID = #{pkId,jdbcType=INTEGER}
	</update>
	
	<update id="updateByPrimaryKeyVo" parameterType="com.sinosafe.xszc.report.vo.ReportDayAgentChannel" >
		update REPORT_DAY_AGENT_CHANNEL
		set 
			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
  			REPORT_DAY = #{reportDay,jdbcType=VARCHAR},
   			CREATED_USER = #{createdUser,jdbcType=VARCHAR},
  			PARENT_DEPT = #{parentDept,jdbcType=VARCHAR},
  			DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
  			DEPT_NAME = #{deptName,jdbcType=VARCHAR},
  			MONTH_SIGN = #{monthSign,jdbcType=DOUBLE},
  			YEAR_SIGN = #{yearSign,jdbcType=DOUBLE},
  			UPDATED_DATE = #{updatedDate,jdbcType=DATE},
  			CREATED_DATE = #{createdDate,jdbcType=DATE},
  			INSURE_CODE = #{insureCode,jdbcType=VARCHAR},
  			SIGN_CODE = #{signCode,jdbcType=VARCHAR},
  			BIZ_CODE = #{bizCode,jdbcType=VARCHAR},
  			SUPPORT_CODE = #{supportCode,jdbcType=VARCHAR},
  			AGENT_CODE = #{agentCode,jdbcType=VARCHAR},
  			LAST_DAY_SIGN = #{lastDaySign,jdbcType=DOUBLE}
  		where PK_ID = #{pkId,jdbcType=INTEGER}
	</update>

	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select <include refid="Base_Column_List" />
	from REPORT_DAY_AGENT_CHANNEL
	where PK_ID = #{pkId,jdbcType=INTEGER}
	</select>
	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKeyVo" resultMap="BaseResultVo" parameterType="java.lang.Integer" >
    select <include refid="Base_Column_List" />
	from REPORT_DAY_AGENT_CHANNEL
	where PK_ID = #{pkId,jdbcType=INTEGER}
	</select>

	<!-- 条件查询总数据量 -->
	<select id="queryCount" parameterType="map" resultType="long">
	select count(1)
	from REPORT_DAY_AGENT_CHANNEL t
	   <!--inner join department de 
	    	   on t.dept_code = de.inter_code-->
		<include refid="Use_Base_Where_Sql"/>
	</select>
	
	<!-- 条件查询总数据量 -->
	<select id="queryCountVo" parameterType="com.sinosafe.xszc.report.vo.ReportDayAgentChannel" resultType="long">
	select count(1)
	from REPORT_DAY_AGENT_CHANNEL
	</select>

	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPage" parameterType="map" resultMap="BaseResultMap">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Use_Base_Column_List"/>
		from REPORT_DAY_AGENT_CHANNEL t
	   <!--inner join department de 
	    	   on t.dept_code = de.inter_code
	   left join aisys.t_agent@misquery agent 
   			   on agent.c_cha_cde = t.support_code
   		left join aisys.t_agent@misquery age
    		   on age.c_cha_cde = t.agent_code-->
		<include refid="Use_Base_Where_Sql"/>
		<!--order by t.PK_ID asc-->
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 单独条件分页查询并导出Excel语句,注意下面语句中的查询字段不可以更改顺序不可修改，否则将导致导出数据混乱 -->
	<select id="queryListToExcel" parameterType="map" resultMap="BaseResultMap">
		select nvl(de.dept_simple_name,' ') DEPT_NAME,nvl(INSURE_CODE,' ') INSURE_CODE,
		nvl(AGENT_CODE,' ') AGENT_CODE,nvl(BIZ_CODE,' ') BIZ_CODE,
		nvl(SUPPORT_CODE,' ') SUPPORT_CODE,nvl(SIGN_CODE,' ') SIGN_CODE,
		nvl(LAST_DAY_SIGN,0) LAST_DAY_SIGN,nvl(MONTH_SIGN,0) MONTH_SIGN,
		nvl(YEAR_SIGN,0) YEAR_SIGN
		from REPORT_DAY_AGENT_CHANNEL t
	   <!--inner join department de 
	    	   on t.dept_code = de.inter_code-->
		<include refid="Use_Base_Where_Sql"/>
	</select>
	
	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPageVo" parameterType="map" resultMap="BaseResultVo">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_List"/>
		from REPORT_DAY_AGENT_CHANNEL
		<include refid="Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 条件查询 -->
	<select id="query" parameterType="map" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from REPORT_DAY_AGENT_CHANNEL
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 条件查询 -->
	<select id="queryVo" parameterType="map" resultMap="BaseResultVo">
		select 
		<include refid="Base_Column_List"/>
		from REPORT_DAY_AGENT_CHANNEL
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 综合条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryPage" parameterType="map" resultMap="BaseResultMap">
	<choose>
		<when test="endpoint!=null and endpoint != '' and startpoint != null and startpoint != ''">
		select * from (
			select a.*,rownum rn from (
				select 
				<include refid="Base_Column_List"/>
				from REPORT_DAY_AGENT_CHANNEL
				<include refid="Base_Where_Sql"/>
			) a where rownum &lt;= #{endpoint}
		) where rn &gt;= #{startpoint}
		</when>
		<otherwise>
		<!-- 这里的"count"重命名不可修改，否则会出现异常 -->
		select count(1) "count" from REPORT_DAY_AGENT_CHANNEL <include refid="Base_Where_Sql" />
		</otherwise>
	</choose>
	
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_List"/>
		from REPORT_DAY_AGENT_CHANNEL
		<include refid="Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 综合条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryPageVo" parameterType="map" resultMap="BaseResultVo">
	<choose>
		<when test="endpoint!=null and endpoint != '' and startpoint != null and startpoint != ''">
		select * from (
			select a.*,rownum rn from (
				select 
				<include refid="Base_Column_List"/>
				from REPORT_DAY_AGENT_CHANNEL
				<include refid="Base_Where_Sql"/>
			) a where rownum &lt;= #{endpoint}
		) where rn &gt;= #{startpoint}
		</when>
		<otherwise>
		<!-- 这里的"count"重命名不可修改，否则会出现异常 -->
		select count(1) "count" from REPORT_DAY_AGENT_CHANNEL <include refid="Base_Where_Sql" />
		</otherwise>
	</choose>
	
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_List"/>
		from REPORT_DAY_AGENT_CHANNEL
		<include refid="Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 二级机构查询语句 -->
	<select id="queryParentDept" parameterType="map" resultMap="BaseResultMap">
		select YINYEBU_NAME,C_INTER_CDE 
		from mv_user.mv_department@misquery 
		where length(C_INTER_CDE)=3 
		and substr(C_INTER_CDE, 2, 3) &lt;= 31
		order by C_INTER_CDE asc
	</select>
	
	<!-- 三级机构查询语句 -->
	<select id="queryDept" parameterType="map" resultMap="BaseResultMap">
		select YINYEBU_NAME,C_INTER_CDE 
		from mv_user.mv_department@misquery
		where C_INTER_CDE like #{parentDept,jdbcType=VARCHAR} ||'%'
		and length(C_INTER_CDE)=5
		order by C_INTER_CDE asc
	</select>
</mapper>
