<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosafe.xszc.renewal.vo.RenewalLevel" >
	<resultMap id="BaseResultMap" type="java.util.HashMap">
		<id column="RENEWALLEVEL_ID" property="renewallevelId" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="VALID_IND" property="validInd" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="ASSIGN_LEVEL" property="assignLevel" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
  		<result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 	</resultMap>
	
	<resultMap id="BaseResultVo" type="com.sinosafe.xszc.renewal.vo.RenewalLevel">
		<id column="RENEWALLEVEL_ID" property="renewallevelId" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="VALID_IND" property="validInd" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="ASSIGN_LEVEL" property="assignLevel" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
  		<result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 	</resultMap>

	<!-- 查询数据列Sql不转换成对应的Java命名 -->
	<sql id="Base_Column_List" >
		UPDATED_USER,
		VALID_IND,
		CREATED_DATE,
		ASSIGN_LEVEL,
		CREATED_USER,
		RENEWALLEVEL_ID,
		DEPT_CODE,
		UPDATED_DATE
	</sql>
	
	
	<!-- 查询数据列Sql不转换成对应的Java命名 -->
	<sql id="Use_Base_Column_List" >
		t.UPDATED_USER,
		t.VALID_IND,
		t.CREATED_DATE,
		t.ASSIGN_LEVEL,
		t.CREATED_USER,
		t.RENEWALLEVEL_ID,
		d.dept_simple_name DEPT_CODE,
		t.UPDATED_DATE
	</sql>
	
	<!-- 查询数据列Sql换成对应的Java命名 -->
	<sql id="Base_Column_List_JavaName" >
		UPDATED_USER as "updatedUser",
		VALID_IND as "validInd",
		CREATED_DATE as "createdDate",
		ASSIGN_LEVEL as "assignLevel",
		CREATED_USER as "createdUser",
		RENEWALLEVEL_ID as "renewallevelId",
		DEPT_CODE as "deptCode",
		UPDATED_DATE as "updatedDate"
	</sql>
	
	<!-- 写入操作的SQL -->
	<sql id="Insert_Base_values">
		#{updatedUser,jdbcType=VARCHAR},
 		#{validInd,jdbcType=CHAR},
 		#{createdDate,jdbcType=DATE},
 		#{assignLevel,jdbcType=CHAR},
 		#{createdUser,jdbcType=VARCHAR},
 		#{renewallevelId,jdbcType=VARCHAR},
 		#{deptCode,jdbcType=VARCHAR},
 		#{updatedDate,jdbcType=DATE}
 	</sql>
	
	<!-- 查询条件的sql -->
	<sql id="Base_Where_Sql">
		<where>
		<if test="updatedUser != null and updatedUser != ''">
			and UPDATED_USER = #{updatedUser,jdbcType=VARCHAR}
		</if>
		<if test="validInd != null and validInd != ''">
			and VALID_IND = #{validInd,jdbcType=CHAR}
		</if>
		<if test="createdDate != null and createdDate != ''">
			and CREATED_DATE = #{createdDate,jdbcType=DATE}
		</if>
		<if test="assignLevel != null and assignLevel != ''">
			and ASSIGN_LEVEL = #{assignLevel,jdbcType=CHAR}
		</if>
		<if test="createdUser != null and createdUser != ''">
			and CREATED_USER = #{createdUser,jdbcType=VARCHAR}
		</if>
		<if test="renewallevelId != null and renewallevelId != ''">
			and RENEWALLEVEL_ID = #{renewallevelId,jdbcType=VARCHAR}
		</if>
		<if test="deptCode != null and deptCode != ''">
			and DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
		</if>
		<if test="updatedDate != null and updatedDate != ''">
			and UPDATED_DATE = #{updatedDate,jdbcType=DATE}
		</if>
		</where>
	</sql>
	
	
	<!-- 查询条件的sql -->
	<sql id="Use_Base_Where_Sql">
		<where>
			t.valid_ind='1'
		<if test="updatedUser != null and updatedUser != ''">
			and t.UPDATED_USER = #{updatedUser,jdbcType=VARCHAR}
		</if>
		<if test="validInd != null and validInd != ''">
			and t.VALID_IND = #{validInd,jdbcType=CHAR}
		</if>
		<if test="createdDate != null and createdDate != ''">
			and t.CREATED_DATE = #{createdDate,jdbcType=DATE}
		</if>
		<if test="assignLevel != null and assignLevel != ''">
			and t.ASSIGN_LEVEL = #{assignLevel,jdbcType=CHAR}
		</if>
		<if test="createdUser != null and createdUser != ''">
			and t.CREATED_USER = #{createdUser,jdbcType=VARCHAR}
		</if>
		<if test="renewallevelId != null and renewallevelId != ''">
			and t.RENEWALLEVEL_ID = #{renewallevelId,jdbcType=VARCHAR}
		</if>
		<if test="deptCode != null and deptCode != ''">
			and t.DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
		</if>
		<if test="updatedDate != null and updatedDate != ''">
			and t.UPDATED_DATE = #{updatedDate,jdbcType=DATE}
		</if>
		</where>
	</sql>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insertVo" parameterType="com.sinosafe.xszc.renewal.vo.RenewalLevel" >
    insert into RENEWAL_LEVEL (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insert" parameterType="map" >
    insert into RENEWAL_LEVEL (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RENEWAL_LEVEL
    where RENEWALLEVEL_ID = #{renewallevelId,jdbcType=VARCHAR}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="map" >
	update RENEWAL_LEVEL
	<set>
	<if test="updatedUser != null and updatedUser != ''">
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
	</if>
  	<if test="validInd != null and validInd != ''">
		VALID_IND = #{validInd,jdbcType=CHAR},
	</if>
  	<if test="createdDate != null and createdDate != ''">
		CREATED_DATE = #{createdDate,jdbcType=DATE},
	</if>
  	<if test="assignLevel != null and assignLevel != ''">
		ASSIGN_LEVEL = #{assignLevel,jdbcType=CHAR},
	</if>
  	<if test="createdUser != null and createdUser != ''">
		CREATED_USER = #{createdUser,jdbcType=VARCHAR},
	</if>
   	<if test="deptCode != null and deptCode != ''">
		DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
	</if>
  	<if test="updatedDate != null and updatedDate != ''">
		UPDATED_DATE = #{updatedDate,jdbcType=DATE}
	</if>
  	</set>
	where RENEWALLEVEL_ID = #{renewallevelId,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="map" >
		update RENEWAL_LEVEL
		set 
			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
  			VALID_IND = #{validInd,jdbcType=CHAR},
  			CREATED_DATE = #{createdDate,jdbcType=DATE},
  			ASSIGN_LEVEL = #{assignLevel,jdbcType=CHAR},
  			CREATED_USER = #{createdUser,jdbcType=VARCHAR},
   			DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
  			UPDATED_DATE = #{updatedDate,jdbcType=DATE}
  		where RENEWALLEVEL_ID = #{renewallevelId,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKeySelectiveVo" parameterType="com.sinosafe.xszc.renewal.vo.RenewalLevel" >
	update RENEWAL_LEVEL
	<set>
	<if test="updatedUser != null and updatedUser != ''">
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
	</if>
  	<if test="validInd != null and validInd != ''">
		VALID_IND = #{validInd,jdbcType=CHAR},
	</if>
  	<if test="createdDate != null and createdDate != ''">
		CREATED_DATE = #{createdDate,jdbcType=DATE},
	</if>
  	<if test="assignLevel != null and assignLevel != ''">
		ASSIGN_LEVEL = #{assignLevel,jdbcType=CHAR},
	</if>
  	<if test="createdUser != null and createdUser != ''">
		CREATED_USER = #{createdUser,jdbcType=VARCHAR},
	</if>
   	<if test="deptCode != null and deptCode != ''">
		DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
	</if>
  	<if test="updatedDate != null and updatedDate != ''">
		UPDATED_DATE = #{updatedDate,jdbcType=DATE}
	</if>
  	</set>
	where RENEWALLEVEL_ID = #{renewallevelId,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKeyVo" parameterType="com.sinosafe.xszc.renewal.vo.RenewalLevel" >
		update RENEWAL_LEVEL
		set 
			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
  			VALID_IND = #{validInd,jdbcType=CHAR},
  			CREATED_DATE = #{createdDate,jdbcType=DATE},
  			ASSIGN_LEVEL = #{assignLevel,jdbcType=CHAR},
  			CREATED_USER = #{createdUser,jdbcType=VARCHAR},
   			DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
  			UPDATED_DATE = #{updatedDate,jdbcType=DATE}
  		where RENEWALLEVEL_ID = #{renewallevelId,jdbcType=VARCHAR}
	</update>

	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
	from RENEWAL_LEVEL
	where RENEWALLEVEL_ID = #{renewallevelId,jdbcType=VARCHAR}
	</select>
	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKeyVo" resultMap="BaseResultVo" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
	from RENEWAL_LEVEL
	where RENEWALLEVEL_ID = #{renewallevelId,jdbcType=VARCHAR}
	</select>

	<!-- 条件查询总数据量 -->
	<select id="queryCount" parameterType="map" resultType="long">
	select count(1)
	from RENEWAL_LEVEL t
   inner join department d on t.dept_code = d.dept_code
	<include refid="Use_Base_Where_Sql" />
	</select>
	
	<!-- 条件查询总数据量 -->
	<select id="queryCountVo" parameterType="com.sinosafe.xszc.renewal.vo.RenewalLevel" resultType="long">
	select count(1)
	from RENEWAL_LEVEL <include refid="Base_Where_Sql" />
	</select>

	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPage" parameterType="map" resultMap="BaseResultMap">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Use_Base_Column_List"/>
		from RENEWAL_LEVEL t
	   inner join department d on t.dept_code = d.dept_code
		<include refid="Use_Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<select id="queryUserLevel" parameterType="map" resultType="int" >
		select t.assign_level from RENEWAL_LEVEL t where t.valid_ind = '1' t.dept_code= #{deptCode}
	</select>
	
	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPageVo" parameterType="map" resultMap="BaseResultVo">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_List"/>
		from RENEWALLEVEL
		<include refid="Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<select id="queryCountByDept" parameterType="map" resultType="int" >
		select count(1) from RENEWAL_LEVEL where dept_code = #{deptCode} and valid_ind = '1'
	</select>
	
	<!-- 条件查询 -->
	<select id="query" parameterType="map" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from RENEWAL_LEVEL
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 条件查询 -->
	<select id="queryVo" parameterType="map" resultMap="BaseResultVo">
		select 
		<include refid="Base_Column_List"/>
		from RENEWAL_LEVEL
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 综合条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryPage" parameterType="map" resultMap="BaseResultMap">
	<choose>
		<when test="endpoint!=null and endpoint != '' and startpoint != null and startpoint != ''">
		select * from (
			select a.*,rownum rn from (
				select 
				<include refid="Base_Column_List"/>
				from RENEWAL_LEVEL
				<include refid="Base_Where_Sql"/>
			) a where rownum &lt;= #{endpoint}
		) where rn &gt;= #{startpoint}
		</when>
		<otherwise>
		<!-- 这里的"count"重命名不可修改，否则会出现异常 -->
		select count(1) "count" from RENEWAL_LEVEL <include refid="Base_Where_Sql" />
		</otherwise>
	</choose>
	</select>
	
	
</mapper>
