<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosafe.xszc.survey.vo.Survey" >
	<resultMap id="BaseResultMap" type="java.util.HashMap">
		<id column="SRUVERY_ID" property="sruveryId" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DOC_NAME" property="docName" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPLOAD_BEGIN_DATE" property="uploadBeginDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
  		<result column="UPLOAD_END_DATE" property="uploadEndDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="VALID_IND" property="validInd" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="DOC_TYPE" property="docType" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="DOC_PATH" property="docPath" jdbcType="VARCHAR" javaType="java.lang.String" />
 	</resultMap>
	
	<resultMap id="BaseResultVo" type="com.sinosafe.xszc.survey.vo.Survey">
		<id column="SRUVERY_ID" property="sruveryId" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DOC_NAME" property="docName" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPLOAD_BEGIN_DATE" property="uploadBeginDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
  		<result column="UPLOAD_END_DATE" property="uploadEndDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="VALID_IND" property="validInd" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="DOC_TYPE" property="docType" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="DOC_PATH" property="docPath" jdbcType="VARCHAR" javaType="java.lang.String" />
 	</resultMap>

	<!-- 查询数据列Sql不转换成对应的Java命名 -->
	<sql id="Base_Column_List" >
		UPDATED_USER,
		DOC_NAME,
		UPLOAD_BEGIN_DATE,
		CREATED_USER,
		DEPT_CODE,
		UPDATED_DATE,
		SRUVERY_ID,
		UPLOAD_END_DATE,
		VALID_IND,
		CREATED_DATE,
		DOC_TYPE,
		DOC_PATH
	</sql>
	
	<!-- 查询数据列Sql不转换成对应的Java命名 -->
	<sql id="User_Base_Column_List" >
	   DOC_NAME,
       s.CREATED_DATE,
       de.DEPT_CODE,
       SRUVERY_ID,
       UPLOAD_END_DATE,
       DOC_TYPE,
       DOC_PATH
	</sql>

	<!-- 查询数据列Sql换成对应的Java命名 -->
	<sql id="Base_Column_List_JavaName" >
		UPDATED_USER as "updatedUser",
		DOC_NAME as "docName",
		UPLOAD_BEGIN_DATE as "uploadBeginDate",
		CREATED_USER as "createdUser",
		DEPT_CODE as "deptCode",
		UPDATED_DATE as "updatedDate",
		SRUVERY_ID as "sruveryId",
		UPLOAD_END_DATE as "uploadEndDate",
		VALID_IND as "validInd",
		CREATED_DATE as "createdDate",
		DOC_TYPE as "docType",
		DOC_PATH as "docPath"
	</sql>
	
	<!-- 写入操作的SQL -->
	<sql id="Insert_Base_values">
		#{updatedUser,jdbcType=VARCHAR},
 		#{docName,jdbcType=VARCHAR},
 		sysdate,
 		#{createdUser,jdbcType=VARCHAR},
 		#{deptCode,jdbcType=VARCHAR},
 		#{updatedDate,jdbcType=DATE},
 		#{sruveryId,jdbcType=VARCHAR},
 		sysdate,
 		#{validInd,jdbcType=CHAR},
 		sysdate,
 		#{docType,jdbcType=CHAR},
 		#{docPath,jdbcType=VARCHAR}
 	</sql>
	
	<!-- 查询条件的 -->
	<sql id="Base_Where_Sql">
		<where>
			s.valid_ind = '1'
		<if test="updatedUser != null and updatedUser != ''">
			and UPDATED_USER = #{updatedUser,jdbcType=VARCHAR}
		</if>
		<if test="docName != null and docName != ''">
			and DOC_NAME = #{docName,jdbcType=VARCHAR}
		</if>
		<if test="createdUser != null and createdUser != ''">
			and CREATED_USER = #{createdUser,jdbcType=VARCHAR}
		</if>
		<if test="deptCode != null and deptCode != ''">
			and DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
		</if>
		<if test="updatedDate != null and updatedDate != ''">
			and UPDATED_DATE = #{updatedDate,jdbcType=DATE}
		</if>
		<if test="sruveryId != null and sruveryId != ''">
			and SRUVERY_ID = #{sruveryId,jdbcType=VARCHAR}
		</if>
		<if test="validInd != null and validInd != ''">
			and VALID_IND = #{validInd,jdbcType=CHAR}
		</if>
		<if test="docType != null and docType != ''">
			and DOC_TYPE = #{docType,jdbcType=CHAR}
		</if>
		<if test="docPath != null and docPath != ''">
			and DOC_PATH = #{docPath,jdbcType=VARCHAR}
		</if>
		<if test="beginDate != null and beginDate !='' ">
			and CREATED_DATE &gt;= to_date(#{beginDate},'yyyy-mm-dd')
		</if>
		<if test="endDate != null and endDate !='' ">
			and CREATED_DATE &lt;= to_date(#{endDate},'yyyy-mm-dd')
		</if>
		</where>
	</sql>
	
	<!-- 查询条件的数据数量 -->
	<sql id="User_Base_Where_Sql">
		<where>
			s.valid_ind = '1'
			and de.valid_ind = '1'
			
		<if test="updatedUser != null and updatedUser != ''">
			and UPDATED_USER = #{updatedUser,jdbcType=VARCHAR}
		</if>
		<if test="docName != null and docName != ''">
			and DOC_NAME = #{docName,jdbcType=VARCHAR}
		</if>
		<if test="createdUser != null and createdUser != ''">
			and CREATED_USER = #{createdUser,jdbcType=VARCHAR}
		</if>
		<if test="deptCode != null and deptCode != ''">
			and s.DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
		</if>
		<if test="updatedDate != null and updatedDate != ''">
			and UPDATED_DATE = #{updatedDate,jdbcType=DATE}
		</if>
		<if test="sruveryId != null and sruveryId != ''">
			and SRUVERY_ID = #{sruveryId,jdbcType=VARCHAR}
		</if>
		<if test="validInd != null and validInd != ''">
			and VALID_IND = #{validInd,jdbcType=CHAR}
		</if>
		<if test="docType != null and docType != ''">
			and DOC_TYPE = #{docType,jdbcType=CHAR}
		</if>
		<if test="docPath != null and docPath != ''">
			and DOC_PATH = #{docPath,jdbcType=VARCHAR}
		</if>
		<if test="beginDate != null and beginDate !='' ">
			and s.CREATED_DATE &gt;= to_date(#{beginDate},'yyyy-mm-dd')
		</if>
		<if test="endDate != null and endDate !='' ">
			and s.CREATED_DATE &lt;= to_date(#{endDate},'yyyy-mm-dd')
		</if>
		</where>
	</sql>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insertVo" parameterType="com.sinosafe.xszc.survey.vo.Survey" >
    insert into SURVEY (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insert" parameterType="map" >
    insert into SURVEY (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SURVEY
    where SRUVERY_ID = #{sruveryId,jdbcType=VARCHAR}
	</delete>
<!-- 
	<delete id="deleteByDataKey" parameterType="long">
    delete from SURVEY
    where PK_SERIAL = #{data}
	</delete>
 -->
	<update id="updateByPrimaryKeySelective" parameterType="map" >
	update SURVEY
	<set>
	<if test="updatedUser != null and updatedUser != ''">
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
	</if>
  	<if test="docName != null and docName != ''">
		DOC_NAME = #{docName,jdbcType=VARCHAR},
	</if>
  	<if test="uploadBeginDate != null and uploadBeginDate != ''">
		UPLOAD_BEGIN_DATE = #{uploadBeginDate,jdbcType=DATE},
	</if>
  	<if test="createdUser != null and createdUser != ''">
		CREATED_USER = #{createdUser,jdbcType=VARCHAR},
	</if>
  	<if test="deptCode != null and deptCode != ''">
		DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
	</if>
  	<if test="updatedDate != null and updatedDate != ''">
		UPDATED_DATE = #{updatedDate,jdbcType=DATE},
	</if>
   	<if test="uploadEndDate != null and uploadEndDate != ''">
		UPLOAD_END_DATE = #{uploadEndDate,jdbcType=DATE},
	</if>
  	<if test="validInd != null and validInd != ''">
		VALID_IND = #{validInd,jdbcType=CHAR},
	</if>
  	<if test="createdDate != null and createdDate != ''">
		CREATED_DATE = #{createdDate,jdbcType=DATE},
	</if>
  	<if test="docType != null and docType != ''">
		DOC_TYPE = #{docType,jdbcType=CHAR},
	</if>
  	<if test="docPath != null and docPath != ''">
		DOC_PATH = #{docPath,jdbcType=VARCHAR}
	</if>
  	</set>
	where SRUVERY_ID = #{sruveryId,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="map" >
		update SURVEY
		set 
			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
  			DOC_NAME = #{docName,jdbcType=VARCHAR},
  			UPLOAD_BEGIN_DATE = #{uploadBeginDate,jdbcType=DATE},
  			CREATED_USER = #{createdUser,jdbcType=VARCHAR},
  			DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
  			UPDATED_DATE = #{updatedDate,jdbcType=DATE},
   			UPLOAD_END_DATE = #{uploadEndDate,jdbcType=DATE},
  			VALID_IND = #{validInd,jdbcType=CHAR},
  			CREATED_DATE = #{createdDate,jdbcType=DATE},
  			DOC_TYPE = #{docType,jdbcType=CHAR},
  			DOC_PATH = #{docPath,jdbcType=VARCHAR}
  		where SRUVERY_ID = #{sruveryId,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKeySelectiveVo" parameterType="com.sinosafe.xszc.survey.vo.Survey" >
	update SURVEY
	<set>
	<if test="updatedUser != null and updatedUser != ''">
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
	</if>
  	<if test="docName != null and docName != ''">
		DOC_NAME = #{docName,jdbcType=VARCHAR},
	</if>
  	<if test="uploadBeginDate != null and uploadBeginDate != ''">
		UPLOAD_BEGIN_DATE = #{uploadBeginDate,jdbcType=DATE},
	</if>
  	<if test="createdUser != null and createdUser != ''">
		CREATED_USER = #{createdUser,jdbcType=VARCHAR},
	</if>
  	<if test="deptCode != null and deptCode != ''">
		DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
	</if>
  	<if test="updatedDate != null and updatedDate != ''">
		UPDATED_DATE = #{updatedDate,jdbcType=DATE},
	</if>
   	<if test="uploadEndDate != null and uploadEndDate != ''">
		UPLOAD_END_DATE = #{uploadEndDate,jdbcType=DATE},
	</if>
  	<if test="validInd != null and validInd != ''">
		VALID_IND = #{validInd,jdbcType=CHAR},
	</if>
  	<if test="createdDate != null and createdDate != ''">
		CREATED_DATE = #{createdDate,jdbcType=DATE},
	</if>
  	<if test="docType != null and docType != ''">
		DOC_TYPE = #{docType,jdbcType=CHAR},
	</if>
  	<if test="docPath != null and docPath != ''">
		DOC_PATH = #{docPath,jdbcType=VARCHAR}
	</if>
  	</set>
	where SRUVERY_ID = #{sruveryId,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKeyVo" parameterType="com.sinosafe.xszc.survey.vo.Survey" >
		update SURVEY
		set 
			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
  			DOC_NAME = #{docName,jdbcType=VARCHAR},
  			UPLOAD_BEGIN_DATE = #{uploadBeginDate,jdbcType=DATE},
  			CREATED_USER = #{createdUser,jdbcType=VARCHAR},
  			DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
  			UPDATED_DATE = #{updatedDate,jdbcType=DATE},
   			UPLOAD_END_DATE = #{uploadEndDate,jdbcType=DATE},
  			VALID_IND = #{validInd,jdbcType=CHAR},
  			CREATED_DATE = #{createdDate,jdbcType=DATE},
  			DOC_TYPE = #{docType,jdbcType=CHAR},
  			DOC_PATH = #{docPath,jdbcType=VARCHAR}
  		where SRUVERY_ID = #{sruveryId,jdbcType=VARCHAR}
	</update>

	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
	from SURVEY
	where SRUVERY_ID = #{sruveryId,jdbcType=VARCHAR}
	</select>
	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKeyVo" resultMap="BaseResultVo" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
	from SURVEY
	where SRUVERY_ID = #{sruveryId,jdbcType=VARCHAR}
	</select>

	<!-- 条件查询总数据量 -->
	<select id="queryCount" parameterType="map" resultType="long">
	select count(1)
	from SURVEY s <include refid="Base_Where_Sql" />
	</select>
	
	<!-- 条件查询总数据量 -->
	<select id="queryCountVo" parameterType="com.sinosafe.xszc.survey.vo.Survey" resultType="long">
	select count(1)
	from SURVEY <include refid="Base_Where_Sql" />
	</select>

	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPage" parameterType="map" resultMap="BaseResultMap">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="User_Base_Column_List"/>,
		 (select depa.dept_simple_name
          from department depa
         where depa.dept_code = de.parent_dept_code) as "parentDept",
       de.dept_simple_name as "deptName"
		from SURVEY s 
		 inner join department de
    on s.dept_code = de.dept_code
    <if test="parentDept != null and parentDept != '' ">
			and exists (
		       select 1 from department dep 
		       where de.parent_dept_code = dep.dept_code and dep.dept_code = #{parentDept}
       		)
		</if>
		<include refid="User_Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPageVo" parameterType="map" resultMap="BaseResultVo">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_List"/>
		from SURVEY
		<include refid="Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 条件查询 -->
	<select id="query" parameterType="map" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from SURVEY
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 条件查询 -->
	<select id="queryVo" parameterType="map" resultMap="BaseResultVo">
		select 
		<include refid="Base_Column_List"/>
		from SURVEY
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 综合条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryPage" parameterType="map" resultMap="BaseResultMap">
	<choose>
		<when test="endpoint!=null and endpoint != '' and startpoint != null and startpoint != ''">
		select * from (
			select a.*,rownum rn from (
				select 
				<include refid="Base_Column_List"/>
				from SURVEY
				<include refid="Base_Where_Sql"/>
			) a where rownum &lt;= #{endpoint}
		) where rn &gt;= #{startpoint}
		</when>
		<otherwise>
		<!-- 这里的"count"重命名不可修改，否则会出现异常 -->
		select count(1) "count" from SURVEY <include refid="Base_Where_Sql" />
		</otherwise>
	</choose>
	</select>
	
	
</mapper>
