<html>
<head>
	<title>系统异常邮件</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div id="content">
    
  
  <div style="background-color:#E5ECF9;font-size: 12px;color: #15428B;font-weight: bold;font-family: 宋体;">系统错误报告

  </div>

     <table>
     
         <tr>

         <td  width="150px" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">

                                   系统编码：

         </td>

         <td>           
          ${systemNumber}
         </td>

       </tr>
         <tr>

         <td  width="150px" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">

                                   系统名称：

         </td>

         <td>           
          ${systemName}
         </td>

       </tr>
       <tr>

         <td  width="150px" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">

                                   系统IP：

         </td>

         <td>           
          ${systemIp}
         </td>

       </tr>
          <tr>

         <td  width="150px" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">

                                   报告人：

         </td>

         <td>           
          ${reportUser}
         </td>

       </tr>
        <tr>

         <td  width="150px" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">

                                   报告人IP：

         </td>

         <td>           
          ${reportUserIp}
         </td>

       </tr>
         <tr>

         <td  width="150px" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">

                                   报告日期：

         </td>

         <td>           
          ${reportDate}
         </td>

       </tr>

      <tr>

         <td  width="150px" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">

                                    错误代码：

         </td>

         <td>           
          ${errorId}
         </td>

       </tr>

       <tr>

         <td  width="150px" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">

                                    错误信息：

         </td>

         <td>

             ${msg}           

         </td>

       </tr>

       

       <!--<tr id="show" >

         <td  width="150px" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">

                                    错误报告：

         </td>

         <td>
             ${reportTxt}   
           
         </td>

       </tr>-->
        <tr id="show" >

         <td  width="150px" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">

                                    错误堆栈：

         </td>

         <td>
             ${stackTxt}   
         </td>

       </tr>
       
     </table>

</div>
</body>
</html>

 
