<html>
<head>
	<title>合同到期预警邮件</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div id="content">
<div style="background-color:#E5ECF9;font-size: 12px;color: #15428B;font-weight: bold;font-family: 宋体;" align="left">
<table width="100%">
	   <tr>
         <td colspan="2" style="vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: center;">
                                  渠道合同到期预警邮件
         </td>
       </tr>
       
	   <tr>
         <td width="10%" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">
                                   渠道编码：
         </td width="80%">
         <td>           
          ${channelCode}
         </td>
       </tr>
       
       <tr>
         <td width="10%" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">
                                   渠道名称：
         </td>
         <td>           
          ${channelName}
         </td>
       </tr>
       
       <tr>
       <tr>
         <td width="10%" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">
                                    预警信息：
         </td>
         <td>
                                     该渠道的合同即将到期，请尽快通知相关人员与合作渠道联系，取得新的资质证明并在系统中重新录入期限。
         </td>
       </tr>
       <tr id="show" >
         <td width="10%" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">
                                    预警报告：
         </td>

         <td>
                                     阳光总在风雨后，让我们携手为美好的明天加油！！！         
         </td>
       </tr>
       </tr>
       
       <tr>
         <td width="10%" style="background-color: #CBDCED;vertical-align: top;white-space: nowrap;color: #15428B;font-size: 12px;text-align: right;">
                                   报告日期：
         </td>
	 
         <td>           
          ${reportDate}
         </td>
       </tr>
       
     </table>
</div>     
</body>
</html>

 
