<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeHandlers>
	    <typeHandler jdbcType="CLOB" javaType="java.lang.String" handler="org.apache.ibatis.type.ClobTypeHandler" />
    </typeHandlers>	
	
	<mappers>
		
		<!-- 渠道管理 -->
	    <mapper resource="com/sinosafe/xszc/dubbo/channel/vo/ChannelMain_sqlMapper.xml"/>
		<!-- 人员管理 -->
	    <mapper resource="com/sinosafe/xszc/dubbo/salesman/vo/Salesman_sqlMapper.xml"/>
    	
	</mappers>
	
</configuration>