<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosafe.xszc.channel.vo.ChannelMediumMaintain" >
	<resultMap id="BaseResultMap" type="java.util.HashMap">
		<id column="MAINTAIN_ID" property="maintainId" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="VALID_IND" property="validInd" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
  		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CHANNEL_CODE" property="channelCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="NODE_CODE" property="nodeCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="MAINTEN_CODE" property="maintenCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="BUSINESS_SCALE" property="businessScale" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="SALESMAN_CNAME" property="salesmanCname" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="TEL" property="tel" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="SALESMAN_CODE" property="salesmanCode" javaType="java.lang.String" jdbcType="VARCHAR" />
 	</resultMap>
	
	<resultMap id="BaseResultVo" type="com.sinosafe.xszc.channel.vo.ChannelMediumMaintain">
		<id column="MAINTAIN_ID" property="maintainId" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="VALID_IND" property="validInd" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
  		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CHANNEL_CODE" property="channelCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="NODE_CODE" property="nodeCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="MAINTEN_CODE" property="maintenCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="BUSINESS_SCALE" property="businessScale" jdbcType="DOUBLE" javaType="java.lang.Double" />
 	</resultMap>

	<!-- 查询数据列Sql不转换成对应的Java命名 -->
	<sql id="Base_Column_List" >
		UPDATED_USER,
		VALID_IND,
		CREATED_DATE,
		MAINTAIN_ID,
		CREATED_USER,
		CHANNEL_CODE,
		NODE_CODE,
		UPDATED_DATE,
		MAINTEN_CODE,
		BUSINESS_SCALE
	</sql>
	
	<!-- 查询数据列Sql换成对应的Java命名 -->
	<sql id="Base_Column_List_JavaName" >
		UPDATED_USER as "updatedUser",
		VALID_IND as "validInd",
		CREATED_DATE as "createdDate",
		MAINTAIN_ID as "maintainId",
		CREATED_USER as "createdUser",
		CHANNEL_CODE as "channelCode",
		NODE_CODE as "nodeCode",
		UPDATED_DATE as "updatedDate",
		MAINTEN_CODE as "maintenCode",
		BUSINESS_SCALE as "businessScale"
	</sql>
	
	<!-- 写入操作的SQL -->
	<sql id="Insert_Base_values">
		#{updatedUser,jdbcType=VARCHAR},
 		#{validInd,jdbcType=CHAR},
 		sysdate,
 		#{maintainId,jdbcType=VARCHAR},
 		#{createdUser,jdbcType=VARCHAR},
 		#{channelCode,jdbcType=VARCHAR},
 		#{nodeCode,jdbcType=VARCHAR},
 		sysdate,
 		#{maintenCode,jdbcType=VARCHAR},
 		#{businessScale,jdbcType=DOUBLE}
 	</sql>
	
	<!-- 查询条件的sql -->
	<sql id="Base_Where_Sql">
		<where>
		<if test="updatedUser != null and updatedUser != ''">
			and UPDATED_USER = #{updatedUser,jdbcType=VARCHAR}
		</if>
			and cm.VALID_IND = 1
		<if test="createdDate != null and createdDate != ''">
			and CREATED_DATE = #{createdDate,jdbcType=DATE}
		</if>
		<if test="maintainId != null and maintainId != ''">
			and MAINTAIN_ID = #{maintainId,jdbcType=VARCHAR}
		</if>
		<if test="createdUser != null and createdUser != ''">
			and CREATED_USER = #{createdUser,jdbcType=VARCHAR}
		</if>
		<if test="channelCode != null and channelCode != ''">
			and CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR}
		</if>
			and NODE_CODE = #{nodeCode,jdbcType=VARCHAR}
		<if test="updatedDate != null and updatedDate != ''">
			and UPDATED_DATE = #{updatedDate,jdbcType=DATE}
		</if>
		<if test="maintenCode != null and maintenCode != ''">
			and MAINTEN_CODE = #{maintenCode,jdbcType=VARCHAR}
		</if>
		<if test="businessScale != null and businessScale != ''">
			and BUSINESS_SCALE = #{businessScale,jdbcType=DOUBLE}
		</if>
		</where>
	</sql>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insertVo" parameterType="com.sinosafe.xszc.channel.vo.ChannelMediumMaintain" >
    insert into CHANNEL_MEDIUM_MAINTAIN (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insert" parameterType="map" >
    insert into CHANNEL_MEDIUM_MAINTAIN (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CHANNEL_MEDIUM_MAINTAIN
    where MAINTAIN_ID = #{maintainId,jdbcType=VARCHAR}
	</delete>
<!-- 
	<delete id="deleteByDataKey" parameterType="long">
    delete from CHANNEL_MEDIUM_MAINTAIN
    where PK_SERIAL = #{data}
	</delete>
 -->
	<update id="updateByPrimaryKeySelective" parameterType="map" >
	update CHANNEL_MEDIUM_MAINTAIN
	<set>
	<if test="updatedUser != null and updatedUser != ''">
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
	</if>
		VALID_IND = 1,
  	<if test="createdDate != null and createdDate != ''">
		CREATED_DATE = #{createdDate,jdbcType=DATE},
	</if>
   	<if test="createdUser != null and createdUser != ''">
		CREATED_USER = #{createdUser,jdbcType=VARCHAR},
	</if>
  	<if test="channelCode != null and channelCode != ''">
		CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR},
	</if>
  	<if test="nodeCode != null and nodeCode != ''">
		NODE_CODE = #{nodeCode,jdbcType=VARCHAR},
	</if>
  	<if test="updatedDate != null and updatedDate != ''">
		UPDATED_DATE = #{updatedDate,jdbcType=DATE},
	</if>
  	<if test="maintenCode != null and maintenCode != ''">
		MAINTEN_CODE = #{maintenCode,jdbcType=VARCHAR},
	</if>
  	<if test="businessScale != null and businessScale != ''">
		BUSINESS_SCALE = #{businessScale,jdbcType=DOUBLE}
	</if>
  	</set>
	where MAINTAIN_ID = #{maintainId,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="map" >
		update CHANNEL_MEDIUM_MAINTAIN
		set 
			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
  			VALID_IND = #{validInd,jdbcType=CHAR},
  			CREATED_DATE = #{createdDate,jdbcType=DATE},
   			CREATED_USER = #{createdUser,jdbcType=VARCHAR},
  			CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR},
  			NODE_CODE = #{nodeCode,jdbcType=VARCHAR},
  			UPDATED_DATE = #{updatedDate,jdbcType=DATE},
  			MAINTEN_CODE = #{maintenCode,jdbcType=VARCHAR},
  			BUSINESS_SCALE = #{businessScale,jdbcType=DOUBLE}
  		where MAINTAIN_ID = #{maintainId,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKeySelectiveVo" parameterType="com.sinosafe.xszc.channel.vo.ChannelMediumMaintain" >
	update CHANNEL_MEDIUM_MAINTAIN
	<set>
	<if test="updatedUser != null and updatedUser != ''">
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
	</if>
  	<if test="validInd != null and validInd != ''">
		VALID_IND = #{validInd,jdbcType=CHAR},
	</if>
  	<if test="createdDate != null and createdDate != ''">
		CREATED_DATE = #{createdDate,jdbcType=DATE},
	</if>
   	<if test="createdUser != null and createdUser != ''">
		CREATED_USER = #{createdUser,jdbcType=VARCHAR},
	</if>
  	<if test="channelCode != null and channelCode != ''">
		CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR},
	</if>
  	<if test="nodeCode != null and nodeCode != ''">
		NODE_CODE = #{nodeCode,jdbcType=VARCHAR},
	</if>
  	<if test="updatedDate != null and updatedDate != ''">
		UPDATED_DATE = sysdate,
	</if>
  	<if test="maintenCode != null and maintenCode != ''">
		MAINTEN_CODE = #{maintenCode,jdbcType=VARCHAR},
	</if>
  	<if test="businessScale != null and businessScale != ''">
		BUSINESS_SCALE = #{businessScale,jdbcType=DOUBLE}
	</if>
  	</set>
	where MAINTAIN_ID = #{maintainId,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKeyVo" parameterType="com.sinosafe.xszc.channel.vo.ChannelMediumMaintain" >
		update CHANNEL_MEDIUM_MAINTAIN
		set 
			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
  			VALID_IND = #{validInd,jdbcType=CHAR},
  			CREATED_DATE = #{createdDate,jdbcType=DATE},
   			CREATED_USER = #{createdUser,jdbcType=VARCHAR},
  			CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR},
  			NODE_CODE = #{nodeCode,jdbcType=VARCHAR},
  			UPDATED_DATE = #{updatedDate,jdbcType=DATE},
  			MAINTEN_CODE = #{maintenCode,jdbcType=VARCHAR},
  			BUSINESS_SCALE = #{businessScale,jdbcType=DOUBLE}
  		where MAINTAIN_ID = #{maintainId,jdbcType=VARCHAR}
	</update>
	
	<update id="deleteById" parameterType="map" >
		update CHANNEL_MEDIUM_MAINTAIN
		set VALID_IND = 0,
		UPDATED_DATE = sysdate,
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR}
		where MAINTAIN_ID in (
			<foreach item="item" index="index" collection="pkIds" separator=",">
				#{item}
			</foreach>
		)
	</update>

	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
	from CHANNEL_MEDIUM_MAINTAIN
	where MAINTAIN_ID = #{maintainId,jdbcType=VARCHAR}
	</select>
	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKeyVo" resultMap="BaseResultVo" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
	from CHANNEL_MEDIUM_MAINTAIN
	where MAINTAIN_ID = #{maintainId,jdbcType=VARCHAR}
	</select>

	<!-- 条件查询总数据量 -->
	<select id="queryCount" parameterType="map" resultType="long">
	select count(1)
	from CHANNEL_MEDIUM_MAINTAIN cm <include refid="Base_Where_Sql" />
	</select>
	
	<!-- 条件查询总数据量 -->
	<select id="queryCountVo" parameterType="com.sinosafe.xszc.channel.vo.ChannelMediumMaintain" resultType="long">
	select count(1)
	from CHANNEL_MEDIUM_MAINTAIN <include refid="Base_Where_Sql" />
	</select>

	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPage" parameterType="map" resultMap="BaseResultMap">
	select * from (
		select a.*,rownum rn from (
		select MAINTAIN_ID,MAINTEN_CODE,NODE_CODE,BUSINESS_SCALE,
		TEL,SALESMAN_CODE,SALESMAN_CNAME
		from CHANNEL_MEDIUM_MAINTAIN cm 
		left join SALESMAN s 
		on cm.MAINTEN_CODE = s.SALESMAN_CODE
		<include refid="Base_Where_Sql"/>
		and s.VALID_IND = 1 
		order by cm.CREATED_DATE desc
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<select id="queryIdList" parameterType="java.lang.String" resultMap="BaseResultVo">
		select * from 
			CHANNEL_MEDIUM_MAINTAIN 
			where VALID_IND = 1 
			and NODE_CODE = #{nodeCode}
	</select>
	
	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPageVo" parameterType="map" resultMap="BaseResultVo">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_List"/>
		from CHANNEL_MEDIUM_MAINTAIN
		<include refid="Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 条件查询 -->
	<select id="query" parameterType="map" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from CHANNEL_MEDIUM_MAINTAIN
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 条件查询 -->
	<select id="queryVo" parameterType="map" resultMap="BaseResultVo">
		select 
		<include refid="Base_Column_List"/>
		from CHANNEL_MEDIUM_MAINTAIN
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 综合条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryPage" parameterType="map" resultMap="BaseResultMap">
	<choose>
		<when test="endpoint!=null and endpoint != '' and startpoint != null and startpoint != ''">
		select * from (
			select a.*,rownum rn from (
				select 
				<include refid="Base_Column_List"/>
				from CHANNEL_MEDIUM_MAINTAIN
				<include refid="Base_Where_Sql"/>
			) a where rownum &lt;= #{endpoint}
		) where rn &gt;= #{startpoint}
		</when>
		<otherwise>
		<!-- 这里的"count"重命名不可修改，否则会出现异常 -->
		select count(1) "count" from CHANNEL_MEDIUM_MAINTAIN <include refid="Base_Where_Sql" />
		</otherwise>
	</choose>
	</select>
	
	
</mapper>
