<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosafe.xszc.channel.vo.ChannelMediumDetailHistory" >
	<resultMap id="BaseResultMap" type="java.util.HashMap">
		<id column="HISTORY_ID" property="historyId" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="SIGN_DATE" property="signDate" jdbcType="DATE" javaType="java.lang.String" />
 		<result column="CHANNEL_EXTEND_CODE" property="channelExtendCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="SALE_POLICY_ADDRESS" property="salePolicyAddress" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="STATUS" property="status" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CHILD_DEPT_LOOK" property="childDeptLook" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="WEBSITE" property="website" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="VALID_IND" property="validInd" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="CHANNEL_OUTER_CODE" property="channelOuterCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="LEGAL" property="legal" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="VALID_DATE" property="validDate" jdbcType="DATE" javaType="java.lang.String" />
 		<result column="MEDIUM_ENAME" property="mediumEname" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="PROFESSION" property="profession" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="LICENCE" property="licence" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="EXPIRE_DATE" property="expireDate" jdbcType="DATE" javaType="java.lang.String" />
 		<result column="CHANNEL_LEVEL" property="channelLevel" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="SALE_POLICY_NAME" property="salePolicyName" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="SIMPLE_NAME" property="simpleName" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="REGISTER_ADDRESS" property="registerAddress" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="COUNTRY" property="country" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CHANNEL_CODE" property="channelCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="MEDIUM_CNAME" property="mediumCname" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="FINANCE_POLICY_FLAG" property="financePolicyFlag" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="PARTER_LEVEL" property="parterLevel" jdbcType="CHAR" javaType="java.lang.String" />
  		<result column="INNER_CODE" property="innerCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="SUPPORT_FLAG" property="supportFlag" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="PROCESS_DEPT_CODE" property="processDeptCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="PARENT_CHANNEL_CODE" property="parentChannelCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="PROCESS_USER_CODE" property="processUserCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="BANK_NODE" property="bankNode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="BANK_ACCOUNT" property="bankAccount" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CATEGORY" property="category" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="MISTAKE_CONTENT" property="mistakeContent" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="TEL" property="tel" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="BANK_PROVINCE" property="bankProvince" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="BANK_RECEIVE" property="bankReceive" jdbcType="VARCHAR" javaType="java.lang.String" />
  		<result column="FINANCE_FLAG" property="financeFlag" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="PROPERTY" property="property" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="OFFICE_ADDRESS" property="officeAddress" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="BANK_NAME" property="bankName" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CONTACT" property="contact" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="BUSINESS_LINE" property="businessLine" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CHANNEL_FEATURE" property="channelFeature" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="BANK_CITY" property="bankCity" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="MISTAKE_FLAG" property="mistakeFlag" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CHANNEL_FLAG" property="channelFlag" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CHANNEL_RATE" property="channelRate" jdbcType="DOUBLE" javaType="java.lang.Double" />
 		<result column="dept_simple_name" property="deptCname" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CHANNEL_TYPE" property="channelType" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CHANNEL_OWN_TYPE" property="channelOwnType" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CHANNEL_CATEGORY" property="channelCategory" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CHANNEL_PROPERTY" property="channelProperty" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="APPROVE_FLAG" property="approveFlag" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="APPROVE_CODE" property="approveCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="C_AGENTORG_CDE" property="cAgentorgCde" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="C_UKEY_CDE" property="cUkeyCde" jdbcType="VARCHAR" javaType="java.lang.String" />
 	</resultMap>
	
	<resultMap id="BaseResultVo" type="com.sinosafe.xszc.channel.vo.ChannelMediumDetailHistory">
		<id column="HISTORY_ID" property="historyId" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="SIGN_DATE" property="signDate" jdbcType="DATE" javaType="java.lang.String" />
 		<result column="CHANNEL_EXTEND_CODE" property="channelExtendCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="SALE_POLICY_ADDRESS" property="salePolicyAddress" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="STATUS" property="status" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CHILD_DEPT_LOOK" property="childDeptLook" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="WEBSITE" property="website" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="VALID_IND" property="validInd" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="CHANNEL_OUTER_CODE" property="channelOuterCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="LEGAL" property="legal" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="VALID_DATE" property="validDate" jdbcType="DATE" javaType="java.lang.String" />
 		<result column="MEDIUM_ENAME" property="mediumEname" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="PROFESSION" property="profession" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="LICENCE" property="licence" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="EXPIRE_DATE" property="expireDate" jdbcType="DATE" javaType="java.lang.String" />
 		<result column="CHANNEL_LEVEL" property="channelLevel" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="SALE_POLICY_NAME" property="salePolicyName" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="SIMPLE_NAME" property="simpleName" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="REGISTER_ADDRESS" property="registerAddress" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="COUNTRY" property="country" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CHANNEL_CODE" property="channelCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="MEDIUM_CNAME" property="mediumCname" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="FINANCE_POLICY_FLAG" property="financePolicyFlag" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="PARTER_LEVEL" property="parterLevel" jdbcType="CHAR" javaType="java.lang.String" />
  		<result column="INNER_CODE" property="innerCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="SUPPORT_FLAG" property="supportFlag" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="PROCESS_DEPT_CODE" property="processDeptCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="PARENT_CHANNEL_CODE" property="parentChannelCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="PROCESS_USER_CODE" property="processUserCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="C_AGENTORG_CDE" property="cAgentorgCde" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="C_UKEY_CDE" property="cUkeyCde" jdbcType="VARCHAR" javaType="java.lang.String" />
 	</resultMap>

	<!-- 查询数据列Sql不转换成对应的Java命名 -->
	<sql id="Base_Column_List" >
		SIGN_DATE,
		CHANNEL_EXTEND_CODE,
		CREATED_USER,
		AREA_CODE,
		SALE_POLICY_ADDRESS,
		UPDATED_DATE,
		STATUS,
		CHILD_DEPT_LOOK,
		WEBSITE,
		VALID_IND,
		CREATED_DATE,
		CHANNEL_OUTER_CODE,
		LEGAL,
		VALID_DATE,
		MEDIUM_ENAME,
		PROFESSION,
		LICENCE,
		UPDATED_USER,
		EXPIRE_DATE,
		CHANNEL_LEVEL,
		CITY_CODE,
		SALE_POLICY_NAME,
		SIMPLE_NAME,
		REGISTER_ADDRESS,
		COUNTRY,
		CHANNEL_CODE,
		MEDIUM_CNAME,
		FINANCE_POLICY_FLAG,
		PARTER_LEVEL,
		HISTORY_ID,
		INNER_CODE,
		SUPPORT_FLAG,
		PROCESS_DEPT_CODE,
		PARENT_CHANNEL_CODE,
		AGENT_CODE,
		PROCESS_USER_CODE,
		C_AGENTORG_CDE,
		C_UKEY_CDE
	</sql>
	
	<!-- 查询数据列Sql换成对应的Java命名 -->
	<sql id="Base_Column_List_JavaName" >
		SIGN_DATE as "signDate",
		CHANNEL_EXTEND_CODE as "channelExtendCode",
		CREATED_USER as "createdUser",
		AREA_CODE as "areaCode",
		SALE_POLICY_ADDRESS as "salePolicyAddress",
		UPDATED_DATE as "updatedDate",
		STATUS as "status",
		CHILD_DEPT_LOOK as "childDeptLook",
		WEBSITE as "website",
		VALID_IND as "validInd",
		CREATED_DATE as "createdDate",
		CHANNEL_OUTER_CODE as "channelOuterCode",
		LEGAL as "legal",
		VALID_DATE as "validDate",
		MEDIUM_ENAME as "mediumEname",
		PROFESSION as "profession",
		LICENCE as "licence",
		UPDATED_USER as "updatedUser",
		EXPIRE_DATE as "expireDate",
		CHANNEL_LEVEL as "channelLevel",
		CITY_CODE as "cityCode",
		SALE_POLICY_NAME as "salePolicyName",
		SIMPLE_NAME as "simpleName",
		REGISTER_ADDRESS as "registerAddress",
		COUNTRY as "country",
		CHANNEL_CODE as "channelCode",
		MEDIUM_CNAME as "mediumCname",
		FINANCE_POLICY_FLAG as "financePolicyFlag",
		PARTER_LEVEL as "parterLevel",
		HISTORY_ID as "historyId",
		INNER_CODE as "innerCode",
		SUPPORT_FLAG as "supportFlag",
		PROCESS_DEPT_CODE as "processDeptCode",
		PARENT_CHANNEL_CODE as "parentChannelCode",
		AGENT_CODE as "agentCode",
		PROCESS_USER_CODE as "processUserCode"
	</sql>
	
	<!-- 写入操作的SQL -->
	<sql id="Insert_Base_values">
		to_date(#{signDate,jdbcType=DATE},'yyyy/mm/dd'),
 		#{channelExtendCode,jdbcType=VARCHAR},
 		#{createdUser,jdbcType=VARCHAR},
 		#{areaCode,jdbcType=VARCHAR},
 		#{salePolicyAddress,jdbcType=VARCHAR},
 		sysdate,
 		#{status,jdbcType=CHAR},
 		#{childDeptLook,jdbcType=CHAR},
 		#{website,jdbcType=VARCHAR},
 		#{validInd,jdbcType=CHAR},
 		sysdate,
 		#{channelOuterCode,jdbcType=VARCHAR},
 		#{legal,jdbcType=VARCHAR},
 		to_date(#{validDate,jdbcType=DATE},'yyyy/mm/dd'),
 		#{mediumEname,jdbcType=VARCHAR},
 		#{profession,jdbcType=CHAR},
 		#{licence,jdbcType=VARCHAR},
 		#{updatedUser,jdbcType=VARCHAR},
 		to_date(#{expireDate,jdbcType=DATE},'yyyy/mm/dd'),
 		#{channelLevel,jdbcType=VARCHAR},
 		#{cityCode,jdbcType=VARCHAR},
 		#{salePolicyName,jdbcType=VARCHAR},
 		#{simpleName,jdbcType=VARCHAR},
 		#{registerAddress,jdbcType=VARCHAR},
 		#{country,jdbcType=VARCHAR},
 		#{channelCode,jdbcType=VARCHAR},
 		#{mediumCname,jdbcType=VARCHAR},
 		#{financePolicyFlag,jdbcType=CHAR},
 		#{parterLevel,jdbcType=CHAR},
 		#{historyId,jdbcType=VARCHAR},
 		#{innerCode,jdbcType=VARCHAR},
 		#{supportFlag,jdbcType=CHAR},
 		#{processDeptCode,jdbcType=VARCHAR},
 		#{parentChannelCode,jdbcType=VARCHAR},
 		#{agentCode,jdbcType=VARCHAR},
 		#{processUserCode,jdbcType=VARCHAR}
 	</sql>
	
	<!-- 查询条件的sql -->
	<sql id="Base_Where_Sql">
		<where>
		<if test="signDate != null and signDate != ''">
			and SIGN_DATE = #{signDate,jdbcType=DATE}
		</if>
		<if test="channelExtendCode != null and channelExtendCode != ''">
			and CHANNEL_EXTEND_CODE = #{channelExtendCode,jdbcType=VARCHAR}
		</if>
		<if test="createdUser != null and createdUser != ''">
			and CREATED_USER = #{createdUser,jdbcType=VARCHAR}
		</if>
		<if test="areaCode != null and areaCode != ''">
			and AREA_CODE = #{areaCode,jdbcType=VARCHAR}
		</if>
		<if test="salePolicyAddress != null and salePolicyAddress != ''">
			and SALE_POLICY_ADDRESS = #{salePolicyAddress,jdbcType=VARCHAR}
		</if>
		<if test="updatedDate != null and updatedDate != ''">
			and UPDATED_DATE = #{updatedDate,jdbcType=DATE}
		</if>
		<if test="status != null and status != ''">
			and STATUS = #{status,jdbcType=CHAR}
		</if>
		<if test="childDeptLook != null and childDeptLook != ''">
			and CHILD_DEPT_LOOK = #{childDeptLook,jdbcType=CHAR}
		</if>
		<if test="website != null and website != ''">
			and WEBSITE = #{website,jdbcType=VARCHAR}
		</if>
		<if test="validInd != null and validInd != ''">
			and VALID_IND = #{validInd,jdbcType=CHAR}
		</if>
		<if test="createdDate != null and createdDate != ''">
			and CREATED_DATE = #{createdDate,jdbcType=DATE}
		</if>
		<if test="channelOuterCode != null and channelOuterCode != ''">
			and CHANNEL_OUTER_CODE = #{channelOuterCode,jdbcType=VARCHAR}
		</if>
		<if test="legal != null and legal != ''">
			and LEGAL = #{legal,jdbcType=VARCHAR}
		</if>
		<if test="validDate != null and validDate != ''">
			and VALID_DATE = #{validDate,jdbcType=DATE}
		</if>
		<if test="mediumEname != null and mediumEname != ''">
			and MEDIUM_ENAME = #{mediumEname,jdbcType=VARCHAR}
		</if>
		<if test="profession != null and profession != ''">
			and PROFESSION = #{profession,jdbcType=CHAR}
		</if>
		<if test="licence != null and licence != ''">
			and LICENCE = #{licence,jdbcType=VARCHAR}
		</if>
		<if test="updatedUser != null and updatedUser != ''">
			and UPDATED_USER = #{updatedUser,jdbcType=VARCHAR}
		</if>
		<if test="expireDate != null and expireDate != ''">
			and EXPIRE_DATE = #{expireDate,jdbcType=DATE}
		</if>
		<if test="channelLevel != null and channelLevel != ''">
			and CHANNEL_LEVEL = #{channelLevel,jdbcType=VARCHAR}
		</if>
		<if test="cityCode != null and cityCode != ''">
			and CITY_CODE = #{cityCode,jdbcType=VARCHAR}
		</if>
		<if test="salePolicyName != null and salePolicyName != ''">
			and SALE_POLICY_NAME = #{salePolicyName,jdbcType=VARCHAR}
		</if>
		<if test="simpleName != null and simpleName != ''">
			and SIMPLE_NAME = #{simpleName,jdbcType=VARCHAR}
		</if>
		<if test="registerAddress != null and registerAddress != ''">
			and REGISTER_ADDRESS = #{registerAddress,jdbcType=VARCHAR}
		</if>
		<if test="country != null and country != ''">
			and COUNTRY = #{country,jdbcType=VARCHAR}
		</if>
		<if test="channelCode != null and channelCode != ''">
			and CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR}
		</if>
		<if test="mediumCname != null and mediumCname != ''">
			and MEDIUM_CNAME = #{mediumCname,jdbcType=VARCHAR}
		</if>
		<if test="financePolicyFlag != null and financePolicyFlag != ''">
			and FINANCE_POLICY_FLAG = #{financePolicyFlag,jdbcType=CHAR}
		</if>
		<if test="parterLevel != null and parterLevel != ''">
			and PARTER_LEVEL = #{parterLevel,jdbcType=CHAR}
		</if>
		<if test="historyId != null and historyId != ''">
			and HISTORY_ID = #{historyId,jdbcType=VARCHAR}
		</if>
		<if test="innerCode != null and innerCode != ''">
			and INNER_CODE = #{innerCode,jdbcType=VARCHAR}
		</if>
		<if test="supportFlag != null and supportFlag != ''">
			and SUPPORT_FLAG = #{supportFlag,jdbcType=CHAR}
		</if>
		<if test="processDeptCode != null and processDeptCode != ''">
			and PROCESS_DEPT_CODE = #{processDeptCode,jdbcType=VARCHAR}
		</if>
		<if test="parentChannelCode != null and parentChannelCode != ''">
			and PARENT_CHANNEL_CODE = #{parentChannelCode,jdbcType=VARCHAR}
		</if>
		<if test="agentCode != null and agentCode != ''">
			and AGENT_CODE = #{agentCode,jdbcType=VARCHAR}
		</if>
		<if test="processUserCode != null and processUserCode != ''">
			and PROCESS_USER_CODE = #{processUserCode,jdbcType=VARCHAR}
		</if>
		</where>
	</sql>
	
	<sql id="Base_Where_Sql_S">
		<where>
			1 = 1
		<if test="signDate != null and signDate != ''">
			and SIGN_DATE = #{signDate,jdbcType=DATE}
		</if>
		<if test="channelExtendCode != null and channelExtendCode != ''">
			and CHANNEL_EXTEND_CODE = #{channelExtendCode,jdbcType=VARCHAR}
		</if>
		<if test="createdUser != null and createdUser != ''">
			and CREATED_USER = #{createdUser,jdbcType=VARCHAR}
		</if>
		<if test="areaCode != null and areaCode != ''">
			and AREA_CODE = #{areaCode,jdbcType=VARCHAR}
		</if>
		<if test="salePolicyAddress != null and salePolicyAddress != ''">
			and SALE_POLICY_ADDRESS = #{salePolicyAddress,jdbcType=VARCHAR}
		</if>
		<if test="updatedDate != null and updatedDate != ''">
			and UPDATED_DATE = #{updatedDate,jdbcType=DATE}
		</if>
		<if test="status != null and status != ''">
			and STATUS = #{status,jdbcType=CHAR}
		</if>
		<if test="childDeptLook != null and childDeptLook != ''">
			and CHILD_DEPT_LOOK = #{childDeptLook,jdbcType=CHAR}
		</if>
		<if test="website != null and website != ''">
			and WEBSITE = #{website,jdbcType=VARCHAR}
		</if>
		<if test="createdDate != null and createdDate != ''">
			and CREATED_DATE = #{createdDate,jdbcType=DATE}
		</if>
		<if test="channelOuterCode != null and channelOuterCode != ''">
			and CHANNEL_OUTER_CODE = #{channelOuterCode,jdbcType=VARCHAR}
		</if>
		<if test="legal != null and legal != ''">
			and LEGAL = #{legal,jdbcType=VARCHAR}
		</if>
		<if test="validDate != null and validDate != ''">
			and VALID_DATE = #{validDate,jdbcType=DATE}
		</if>
		<if test="mediumEname != null and mediumEname != ''">
			and MEDIUM_ENAME = #{mediumEname,jdbcType=VARCHAR}
		</if>
		<if test="profession != null and profession != ''">
			and PROFESSION = #{profession,jdbcType=CHAR}
		</if>
		<if test="licence != null and licence != ''">
			and LICENCE = #{licence,jdbcType=VARCHAR}
		</if>
		<if test="updatedUser != null and updatedUser != ''">
			and UPDATED_USER = #{updatedUser,jdbcType=VARCHAR}
		</if>
		<if test="expireDate != null and expireDate != ''">
			and EXPIRE_DATE = #{expireDate,jdbcType=DATE}
		</if>
		<if test="channelLevel != null and channelLevel != ''">
			and CHANNEL_LEVEL = #{channelLevel,jdbcType=VARCHAR}
		</if>
		<if test="cityCode != null and cityCode != ''">
			and CITY_CODE = #{cityCode,jdbcType=VARCHAR}
		</if>
		<if test="salePolicyName != null and salePolicyName != ''">
			and SALE_POLICY_NAME = #{salePolicyName,jdbcType=VARCHAR}
		</if>
		<if test="simpleName != null and simpleName != ''">
			and SIMPLE_NAME = #{simpleName,jdbcType=VARCHAR}
		</if>
		<if test="registerAddress != null and registerAddress != ''">
			and REGISTER_ADDRESS = #{registerAddress,jdbcType=VARCHAR}
		</if>
		<if test="country != null and country != ''">
			and COUNTRY = #{country,jdbcType=VARCHAR}
		</if>
		<if test="channelCode != null and channelCode != ''">
			and cm.CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR}
		</if>
		<if test="parterLevel != null and parterLevel != ''">
			and PARTER_LEVEL = #{parterLevel,jdbcType=CHAR}
		</if>
		<if test="mediumCname != null and mediumCname != ''">
			and MEDIUM_CNAME = #{mediumCname,jdbcType=VARCHAR}
		</if>
		<if test="financePolicyFlag != null and financePolicyFlag != ''">
			and FINANCE_POLICY_FLAG = #{financePolicyFlag,jdbcType=CHAR}
		</if>
		<if test="innerCode != null and innerCode != ''">
			and INNER_CODE = #{innerCode,jdbcType=VARCHAR}
		</if>
		<if test="supportFlag != null and supportFlag != ''">
			and SUPPORT_FLAG = #{supportFlag,jdbcType=CHAR}
		</if>
		<if test="processDeptCode != null and processDeptCode != ''">
			and PROCESS_DEPT_CODE = #{processDeptCode,jdbcType=VARCHAR}
		</if>
		<if test="parentChannelCode != null and parentChannelCode != ''">
			and PARENT_CHANNEL_CODE = #{parentChannelCode,jdbcType=VARCHAR}
		</if>
		<if test="agentCode != null and agentCode != ''">
			and AGENT_CODE = #{agentCode,jdbcType=VARCHAR}
		</if>
		<if test="processUserCode != null and processUserCode != ''">
			and PROCESS_USER_CODE = #{processUserCode,jdbcType=VARCHAR}
		</if>
		<!--中介机构主表字段-->
		<if test="deptCode != null and deptCode != ''">
			and pb.DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
		</if>
		<if test="property != null and property != ''">
			and PROPERTY = #{property,jdbcType=CHAR}
		</if>
		<if test="category != null and category != ''">
			and CATEGORY = #{category,jdbcType=CHAR}
		</if>
		</where>
	</sql>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insertVo" parameterType="com.sinosafe.xszc.channel.vo.ChannelMediumDetailHistory" >
    insert into CHANNEL_MEDIUM_DETAIL_HISTORY (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insert" parameterType="map" >
    insert into CHANNEL_MEDIUM_DETAIL_HISTORY (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CHANNEL_MEDIUM_DETAIL_HISTORY
    where HISTORY_ID = #{historyId,jdbcType=VARCHAR}
	</delete>
<!-- 
	<delete id="deleteByDataKey" parameterType="long">
    delete from CHANNEL_MEDIUM_DETAIL_HISTORY
    where PK_SERIAL = #{data}
	</delete>
 -->
	<update id="updateByPrimaryKeySelective" parameterType="map" >
	update CHANNEL_MEDIUM_DETAIL_HISTORY
	<set>
	<if test="signDate != null and signDate != ''">
		SIGN_DATE = #{signDate,jdbcType=DATE},
	</if>
  	<if test="channelExtendCode != null and channelExtendCode != ''">
		CHANNEL_EXTEND_CODE = #{channelExtendCode,jdbcType=VARCHAR},
	</if>
  	<if test="createdUser != null and createdUser != ''">
		CREATED_USER = #{createdUser,jdbcType=VARCHAR},
	</if>
  	<if test="areaCode != null and areaCode != ''">
		AREA_CODE = #{areaCode,jdbcType=VARCHAR},
	</if>
  	<if test="salePolicyAddress != null and salePolicyAddress != ''">
		SALE_POLICY_ADDRESS = #{salePolicyAddress,jdbcType=VARCHAR},
	</if>
  	<if test="updatedDate != null and updatedDate != ''">
		UPDATED_DATE = #{updatedDate,jdbcType=DATE},
	</if>
  	<if test="status != null and status != ''">
		STATUS = #{status,jdbcType=CHAR},
	</if>
  	<if test="childDeptLook != null and childDeptLook != ''">
		CHILD_DEPT_LOOK = #{childDeptLook,jdbcType=CHAR},
	</if>
  	<if test="website != null and website != ''">
		WEBSITE = #{website,jdbcType=VARCHAR},
	</if>
  	<if test="validInd != null and validInd != ''">
		VALID_IND = #{validInd,jdbcType=CHAR},
	</if>
  	<if test="createdDate != null and createdDate != ''">
		CREATED_DATE = #{createdDate,jdbcType=DATE},
	</if>
  	<if test="channelOuterCode != null and channelOuterCode != ''">
		CHANNEL_OUTER_CODE = #{channelOuterCode,jdbcType=VARCHAR},
	</if>
  	<if test="legal != null and legal != ''">
		LEGAL = #{legal,jdbcType=VARCHAR},
	</if>
  	<if test="validDate != null and validDate != ''">
		VALID_DATE = #{validDate,jdbcType=DATE},
	</if>
  	<if test="mediumEname != null and mediumEname != ''">
		MEDIUM_ENAME = #{mediumEname,jdbcType=VARCHAR},
	</if>
  	<if test="profession != null and profession != ''">
		PROFESSION = #{profession,jdbcType=CHAR},
	</if>
  	<if test="licence != null and licence != ''">
		LICENCE = #{licence,jdbcType=VARCHAR},
	</if>
  	<if test="updatedUser != null and updatedUser != ''">
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
	</if>
  	<if test="expireDate != null and expireDate != ''">
		EXPIRE_DATE = #{expireDate,jdbcType=DATE},
	</if>
  	<if test="channelLevel != null and channelLevel != ''">
		CHANNEL_LEVEL = #{channelLevel,jdbcType=VARCHAR},
	</if>
  	<if test="cityCode != null and cityCode != ''">
		CITY_CODE = #{cityCode,jdbcType=VARCHAR},
	</if>
  	<if test="salePolicyName != null and salePolicyName != ''">
		SALE_POLICY_NAME = #{salePolicyName,jdbcType=VARCHAR},
	</if>
  	<if test="simpleName != null and simpleName != ''">
		SIMPLE_NAME = #{simpleName,jdbcType=VARCHAR},
	</if>
  	<if test="registerAddress != null and registerAddress != ''">
		REGISTER_ADDRESS = #{registerAddress,jdbcType=VARCHAR},
	</if>
  	<if test="country != null and country != ''">
		COUNTRY = #{country,jdbcType=VARCHAR},
	</if>
  	<if test="channelCode != null and channelCode != ''">
		CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR},
	</if>
  	<if test="mediumCname != null and mediumCname != ''">
		MEDIUM_CNAME = #{mediumCname,jdbcType=VARCHAR},
	</if>
  	<if test="financePolicyFlag != null and financePolicyFlag != ''">
		FINANCE_POLICY_FLAG = #{financePolicyFlag,jdbcType=CHAR},
	</if>
  	<if test="parterLevel != null and parterLevel != ''">
		PARTER_LEVEL = #{parterLevel,jdbcType=CHAR},
	</if>
   	<if test="innerCode != null and innerCode != ''">
		INNER_CODE = #{innerCode,jdbcType=VARCHAR},
	</if>
  	<if test="supportFlag != null and supportFlag != ''">
		SUPPORT_FLAG = #{supportFlag,jdbcType=CHAR},
	</if>
  	<if test="processDeptCode != null and processDeptCode != ''">
		PROCESS_DEPT_CODE = #{processDeptCode,jdbcType=VARCHAR},
	</if>
  	<if test="parentChannelCode != null and parentChannelCode != ''">
		PARENT_CHANNEL_CODE = #{parentChannelCode,jdbcType=VARCHAR},
	</if>
  	<if test="agentCode != null and agentCode != ''">
		AGENT_CODE = #{agentCode,jdbcType=VARCHAR},
	</if>
  	<if test="processUserCode != null and processUserCode != ''">
		PROCESS_USER_CODE = #{processUserCode,jdbcType=VARCHAR}
	</if>
  	</set>
	where HISTORY_ID = #{historyId,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="map" >
		update CHANNEL_MEDIUM_DETAIL_HISTORY
		set 
			SIGN_DATE = #{signDate,jdbcType=DATE},
  			CHANNEL_EXTEND_CODE = #{channelExtendCode,jdbcType=VARCHAR},
  			CREATED_USER = #{createdUser,jdbcType=VARCHAR},
  			AREA_CODE = #{areaCode,jdbcType=VARCHAR},
  			SALE_POLICY_ADDRESS = #{salePolicyAddress,jdbcType=VARCHAR},
  			UPDATED_DATE = #{updatedDate,jdbcType=DATE},
  			STATUS = #{status,jdbcType=CHAR},
  			CHILD_DEPT_LOOK = #{childDeptLook,jdbcType=CHAR},
  			WEBSITE = #{website,jdbcType=VARCHAR},
  			VALID_IND = #{validInd,jdbcType=CHAR},
  			CREATED_DATE = #{createdDate,jdbcType=DATE},
  			CHANNEL_OUTER_CODE = #{channelOuterCode,jdbcType=VARCHAR},
  			LEGAL = #{legal,jdbcType=VARCHAR},
  			VALID_DATE = #{validDate,jdbcType=DATE},
  			MEDIUM_ENAME = #{mediumEname,jdbcType=VARCHAR},
  			PROFESSION = #{profession,jdbcType=CHAR},
  			LICENCE = #{licence,jdbcType=VARCHAR},
  			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
  			EXPIRE_DATE = #{expireDate,jdbcType=DATE},
  			CHANNEL_LEVEL = #{channelLevel,jdbcType=VARCHAR},
  			CITY_CODE = #{cityCode,jdbcType=VARCHAR},
  			SALE_POLICY_NAME = #{salePolicyName,jdbcType=VARCHAR},
  			SIMPLE_NAME = #{simpleName,jdbcType=VARCHAR},
  			REGISTER_ADDRESS = #{registerAddress,jdbcType=VARCHAR},
  			COUNTRY = #{country,jdbcType=VARCHAR},
  			CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR},
  			MEDIUM_CNAME = #{mediumCname,jdbcType=VARCHAR},
  			FINANCE_POLICY_FLAG = #{financePolicyFlag,jdbcType=CHAR},
  			PARTER_LEVEL = #{parterLevel,jdbcType=CHAR},
   			INNER_CODE = #{innerCode,jdbcType=VARCHAR},
  			SUPPORT_FLAG = #{supportFlag,jdbcType=CHAR},
  			PROCESS_DEPT_CODE = #{processDeptCode,jdbcType=VARCHAR},
  			PARENT_CHANNEL_CODE = #{parentChannelCode,jdbcType=VARCHAR},
  			AGENT_CODE = #{agentCode,jdbcType=VARCHAR},
  			PROCESS_USER_CODE = #{processUserCode,jdbcType=VARCHAR}
  		where HISTORY_ID = #{historyId,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKeySelectiveVo" parameterType="com.sinosafe.xszc.channel.vo.ChannelMediumDetailHistory" >
	update CHANNEL_MEDIUM_DETAIL_HISTORY
	<set>
	<if test="signDate != null and signDate != ''">
		SIGN_DATE = #{signDate,jdbcType=DATE},
	</if>
  	<if test="channelExtendCode != null and channelExtendCode != ''">
		CHANNEL_EXTEND_CODE = #{channelExtendCode,jdbcType=VARCHAR},
	</if>
  	<if test="createdUser != null and createdUser != ''">
		CREATED_USER = #{createdUser,jdbcType=VARCHAR},
	</if>
  	<if test="areaCode != null and areaCode != ''">
		AREA_CODE = #{areaCode,jdbcType=VARCHAR},
	</if>
  	<if test="salePolicyAddress != null and salePolicyAddress != ''">
		SALE_POLICY_ADDRESS = #{salePolicyAddress,jdbcType=VARCHAR},
	</if>
  	<if test="updatedDate != null and updatedDate != ''">
		UPDATED_DATE = #{updatedDate,jdbcType=DATE},
	</if>
  	<if test="status != null and status != ''">
		STATUS = #{status,jdbcType=CHAR},
	</if>
  	<if test="childDeptLook != null and childDeptLook != ''">
		CHILD_DEPT_LOOK = #{childDeptLook,jdbcType=CHAR},
	</if>
  	<if test="website != null and website != ''">
		WEBSITE = #{website,jdbcType=VARCHAR},
	</if>
  	<if test="validInd != null and validInd != ''">
		VALID_IND = #{validInd,jdbcType=CHAR},
	</if>
  	<if test="createdDate != null and createdDate != ''">
		CREATED_DATE = #{createdDate,jdbcType=DATE},
	</if>
  	<if test="channelOuterCode != null and channelOuterCode != ''">
		CHANNEL_OUTER_CODE = #{channelOuterCode,jdbcType=VARCHAR},
	</if>
  	<if test="legal != null and legal != ''">
		LEGAL = #{legal,jdbcType=VARCHAR},
	</if>
  	<if test="validDate != null and validDate != ''">
		VALID_DATE = #{validDate,jdbcType=DATE},
	</if>
  	<if test="mediumEname != null and mediumEname != ''">
		MEDIUM_ENAME = #{mediumEname,jdbcType=VARCHAR},
	</if>
  	<if test="profession != null and profession != ''">
		PROFESSION = #{profession,jdbcType=CHAR},
	</if>
  	<if test="licence != null and licence != ''">
		LICENCE = #{licence,jdbcType=VARCHAR},
	</if>
  	<if test="updatedUser != null and updatedUser != ''">
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
	</if>
  	<if test="expireDate != null and expireDate != ''">
		EXPIRE_DATE = #{expireDate,jdbcType=DATE},
	</if>
  	<if test="channelLevel != null and channelLevel != ''">
		CHANNEL_LEVEL = #{channelLevel,jdbcType=VARCHAR},
	</if>
  	<if test="cityCode != null and cityCode != ''">
		CITY_CODE = #{cityCode,jdbcType=VARCHAR},
	</if>
  	<if test="salePolicyName != null and salePolicyName != ''">
		SALE_POLICY_NAME = #{salePolicyName,jdbcType=VARCHAR},
	</if>
  	<if test="simpleName != null and simpleName != ''">
		SIMPLE_NAME = #{simpleName,jdbcType=VARCHAR},
	</if>
  	<if test="registerAddress != null and registerAddress != ''">
		REGISTER_ADDRESS = #{registerAddress,jdbcType=VARCHAR},
	</if>
  	<if test="country != null and country != ''">
		COUNTRY = #{country,jdbcType=VARCHAR},
	</if>
  	<if test="channelCode != null and channelCode != ''">
		CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR},
	</if>
  	<if test="mediumCname != null and mediumCname != ''">
		MEDIUM_CNAME = #{mediumCname,jdbcType=VARCHAR},
	</if>
  	<if test="financePolicyFlag != null and financePolicyFlag != ''">
		FINANCE_POLICY_FLAG = #{financePolicyFlag,jdbcType=CHAR},
	</if>
  	<if test="parterLevel != null and parterLevel != ''">
		PARTER_LEVEL = #{parterLevel,jdbcType=CHAR},
	</if>
   	<if test="innerCode != null and innerCode != ''">
		INNER_CODE = #{innerCode,jdbcType=VARCHAR},
	</if>
  	<if test="supportFlag != null and supportFlag != ''">
		SUPPORT_FLAG = #{supportFlag,jdbcType=CHAR},
	</if>
  	<if test="processDeptCode != null and processDeptCode != ''">
		PROCESS_DEPT_CODE = #{processDeptCode,jdbcType=VARCHAR},
	</if>
  	<if test="parentChannelCode != null and parentChannelCode != ''">
		PARENT_CHANNEL_CODE = #{parentChannelCode,jdbcType=VARCHAR},
	</if>
  	<if test="agentCode != null and agentCode != ''">
		AGENT_CODE = #{agentCode,jdbcType=VARCHAR},
	</if>
  	<if test="processUserCode != null and processUserCode != ''">
		PROCESS_USER_CODE = #{processUserCode,jdbcType=VARCHAR}
	</if>
  	</set>
	where HISTORY_ID = #{historyId,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKeyVo" parameterType="com.sinosafe.xszc.channel.vo.ChannelMediumDetailHistory" >
		update CHANNEL_MEDIUM_DETAIL_HISTORY
		set 
			SIGN_DATE = #{signDate,jdbcType=DATE},
  			CHANNEL_EXTEND_CODE = #{channelExtendCode,jdbcType=VARCHAR},
  			CREATED_USER = #{createdUser,jdbcType=VARCHAR},
  			AREA_CODE = #{areaCode,jdbcType=VARCHAR},
  			SALE_POLICY_ADDRESS = #{salePolicyAddress,jdbcType=VARCHAR},
  			UPDATED_DATE = #{updatedDate,jdbcType=DATE},
  			STATUS = #{status,jdbcType=CHAR},
  			CHILD_DEPT_LOOK = #{childDeptLook,jdbcType=CHAR},
  			WEBSITE = #{website,jdbcType=VARCHAR},
  			VALID_IND = #{validInd,jdbcType=CHAR},
  			CREATED_DATE = #{createdDate,jdbcType=DATE},
  			CHANNEL_OUTER_CODE = #{channelOuterCode,jdbcType=VARCHAR},
  			LEGAL = #{legal,jdbcType=VARCHAR},
  			VALID_DATE = #{validDate,jdbcType=DATE},
  			MEDIUM_ENAME = #{mediumEname,jdbcType=VARCHAR},
  			PROFESSION = #{profession,jdbcType=CHAR},
  			LICENCE = #{licence,jdbcType=VARCHAR},
  			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
  			EXPIRE_DATE = #{expireDate,jdbcType=DATE},
  			CHANNEL_LEVEL = #{channelLevel,jdbcType=VARCHAR},
  			CITY_CODE = #{cityCode,jdbcType=VARCHAR},
  			SALE_POLICY_NAME = #{salePolicyName,jdbcType=VARCHAR},
  			SIMPLE_NAME = #{simpleName,jdbcType=VARCHAR},
  			REGISTER_ADDRESS = #{registerAddress,jdbcType=VARCHAR},
  			COUNTRY = #{country,jdbcType=VARCHAR},
  			CHANNEL_CODE = #{channelCode,jdbcType=VARCHAR},
  			MEDIUM_CNAME = #{mediumCname,jdbcType=VARCHAR},
  			FINANCE_POLICY_FLAG = #{financePolicyFlag,jdbcType=CHAR},
  			PARTER_LEVEL = #{parterLevel,jdbcType=CHAR},
   			INNER_CODE = #{innerCode,jdbcType=VARCHAR},
  			SUPPORT_FLAG = #{supportFlag,jdbcType=CHAR},
  			PROCESS_DEPT_CODE = #{processDeptCode,jdbcType=VARCHAR},
  			PARENT_CHANNEL_CODE = #{parentChannelCode,jdbcType=VARCHAR},
  			AGENT_CODE = #{agentCode,jdbcType=VARCHAR},
  			PROCESS_USER_CODE = #{processUserCode,jdbcType=VARCHAR}
  		where HISTORY_ID = #{historyId,jdbcType=VARCHAR}
	</update>

	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
	from CHANNEL_MEDIUM_DETAIL_HISTORY
	where HISTORY_ID = #{historyId,jdbcType=VARCHAR}
	</select>
	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKeyVo" resultMap="BaseResultVo" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
	from CHANNEL_MEDIUM_DETAIL_HISTORY
	where HISTORY_ID = #{historyId,jdbcType=VARCHAR}
	</select>

	<!-- 条件查询总数据量 -->
	<select id="queryCount" parameterType="map" resultType="long">
	select count(1)
	from CHANNEL_MEDIUM_DETAIL_HISTORY cm
	left join CHANNEL_MAIN_HISTORY pb 
		on pb.HISTORY_ID = cm.HISTORY_ID 
	<include refid="Base_Where_Sql_S" />
	and pb.VALID_IND = 1 and cm.VALID_IND = 1
	</select>
	
	<!-- 条件查询总数据量 -->
	<select id="queryCountVo" parameterType="com.sinosafe.xszc.channel.vo.ChannelMediumDetailHistory" resultType="long">
	select count(1)
	from CHANNEL_MEDIUM_DETAIL_HISTORY <include refid="Base_Where_Sql" />
	</select>

	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPage" parameterType="map" resultMap="BaseResultMap">
	select * from (
		select a.*,rownum rn from (
		select pb.HISTORY_ID,
			   pb.DEPT_CODE,
		       dept.dept_simple_name,
		       pb.CHANNEL_CODE,
		       MEDIUM_CNAME,
		       deptp.dept_simple_name PROCESS_DEPT_CODE,
		       decode(pb.APPROVE_FLAG, '1', '已审核', '0', '未审核', '已审核') APPROVE_FLAG,
		       pb.updated_user APPROVE_CODE,
		       decode(pb.STATUS, '1', '正在代理', '') STATUS,
		       cg.CATEGORY_NAME CATEGORY,
		       bl.LINE_NAME BUSINESS_LINE,
		       cm.UPDATED_DATE
		  from CHANNEL_MAIN_HISTORY pb
		  left join CHANNEL_MEDIUM_DETAIL_HISTORY cm
		    on pb.History_Id = cm.History_Id and cm.VALID_IND = 1
		  left join DEPARTMENT dept
		    on pb.DEPT_CODE = dept.DEPT_CODE and dept.VALID_IND = 1
		  left join BUSINESS_LINE bl
		    on pb.BUSINESS_LINE = bl.LINE_CODE and bl.VALID_IND = 1
		  left join CATEGORY cg
		    on pb.CATEGORY = cg.CATEGORY_CODE and cg.VALID_IND = 1
		  left join DEPARTMENT deptp
		    on cm.PROCESS_DEPT_CODE = deptp.DEPT_CODE and deptp.VALID_IND = 1
		  left join salesman sa 
		    on pb.APPROVE_CODE = sa.employ_code
		    <include refid = "Base_Where_Sql_S" />
		   and pb.VALID_IND = 1
		 group by pb.HISTORY_ID,
		 		  pb.DEPT_CODE,
		          dept.dept_simple_name,
		          pb.CHANNEL_CODE,
		          MEDIUM_CNAME,
		          deptp.dept_simple_name,
		          pb.APPROVE_FLAG,
		          pb.updated_user,
		          pb.STATUS,
		          cg.CATEGORY_NAME,
		          bl.LINE_NAME,
		       	  cm.UPDATED_DATE
		  order by cm.UPDATED_DATE desc
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<select id="queryListsPage" parameterType="map" resultMap="BaseResultMap">
		select to_char(cm.SIGN_DATE,'yyyy-mm-dd') as "SIGN_DATE",cm.CHANNEL_EXTEND_CODE,
		cm.STATUS,cm.CHILD_DEPT_LOOK,cm.WEBSITE,cm.CHANNEL_OUTER_CODE,cm.LEGAL,
		to_char(cm.VALID_DATE,'yyyy-mm-dd') as "VALID_DATE",cm.MEDIUM_ENAME,
		cm.PROFESSION,cm.LICENCE,to_char(cm.EXPIRE_DATE,'yyyy-mm-dd') as "EXPIRE_DATE",
		cm.CHANNEL_LEVEL,cm.CITY_CODE,cm.SALE_POLICY_NAME,cm.SIMPLE_NAME,
		cm.REGISTER_ADDRESS,cm.COUNTRY,cm.CHANNEL_CODE,cm.PARTER_LEVEL,cm.MEDIUM_CNAME,
		cm.FINANCE_POLICY_FLAG,cm.INNER_CODE,cm.SUPPORT_FLAG,
		cm.PROCESS_DEPT_CODE || '-' || deptp.dept_simple_name PROCESS_DEPT_CODE,
		cm.AGENT_CODE,cm.PROCESS_USER_CODE,
		BANK_NODE,BANK_ACCOUNT,REMARK,CHANNEL_CATEGORY,MISTAKE_CONTENT,pb.TEL,BANK_PROVINCE,
		BANK_RECEIVE,FINANCE_FLAG,CHANNEL_PROPERTY,pb.DEPT_CODE,OFFICE_ADDRESS,BANK_NAME,
		CONTACT,BUSINESS_LINE,CHANNEL_FEATURE,BANK_CITY,MISTAKE_FLAG,CHANNEL_TYPE,CHANNEL_OWN_TYPE,
		CHANNEL_FLAG,CHANNEL_RATE,pb.DEPT_CODE || '-' || dept.dept_simple_name dept_simple_name,
		cm.PARENT_CHANNEL_CODE || '-' || cn.MEDIUM_CNAME PARENT_CHANNEL_CODE,
		cm.C_AGENTORG_CDE,cm.C_UKEY_CDE
		from CHANNEL_MEDIUM_DETAIL_HISTORY cm 
		left join CHANNEL_MAIN_HISTORY pb 
			on pb.History_Id = cm.History_Id and pb.VALID_IND = 1 
		left join CHANNEL_MEDIUM_DETAIL cn
			on cm.PARENT_CHANNEL_CODE = cn.CHANNEL_CODE and cn.VALID_IND = 1
		left join DEPARTMENT dept
		    on pb.DEPT_CODE = dept.DEPT_CODE and dept.VALID_IND = 1
		left join DEPARTMENT deptp
		    on cm.PROCESS_DEPT_CODE = deptp.DEPT_CODE and deptp.VALID_IND = 1
		where cm.HISTORY_ID = #{historyId}
		and cm.VALID_IND = 1
	</select>
	
	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPageVo" parameterType="map" resultMap="BaseResultVo">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_List"/>
		from CHANNEL_MEDIUM_DETAIL_HISTORY
		<include refid="Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 条件查询 -->
	<select id="query" parameterType="map" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from CHANNEL_MEDIUM_DETAIL_HISTORY
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 条件查询 -->
	<select id="queryVo" parameterType="map" resultMap="BaseResultVo">
		select 
		<include refid="Base_Column_List"/>
		from CHANNEL_MEDIUM_DETAIL_HISTORY
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 综合条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryPage" parameterType="map" resultMap="BaseResultMap">
	<choose>
		<when test="endpoint!=null and endpoint != '' and startpoint != null and startpoint != ''">
		select * from (
			select a.*,rownum rn from (
				select 
				<include refid="Base_Column_List"/>
				from CHANNEL_MEDIUM_DETAIL_HISTORY
				<include refid="Base_Where_Sql"/>
			) a where rownum &lt;= #{endpoint}
		) where rn &gt;= #{startpoint}
		</when>
		<otherwise>
		<!-- 这里的"count"重命名不可修改，否则会出现异常 -->
		select count(1) "count" from CHANNEL_MEDIUM_DETAIL_HISTORY <include refid="Base_Where_Sql" />
		</otherwise>
	</choose>
	</select>
	
	<insert id="insertData" parameterType="map" >
    insert into channel_medium_detail_history ( <include refid="Base_Column_List" /> )
		select SIGN_DATE,
			CHANNEL_EXTEND_CODE,
			#{updatedUser,jdbcType=VARCHAR},
			AREA_CODE,
			SALE_POLICY_ADDRESS,
			sysdate,
			STATUS,
			CHILD_DEPT_LOOK,
			WEBSITE,
			VALID_IND,
			sysdate,
			CHANNEL_OUTER_CODE,
			LEGAL,
			VALID_DATE,
			MEDIUM_ENAME,
			PROFESSION,
			LICENCE,
			#{updatedUser,jdbcType=VARCHAR},
			EXPIRE_DATE,
			CHANNEL_LEVEL,
			CITY_CODE,
			SALE_POLICY_NAME,
			SIMPLE_NAME,
			REGISTER_ADDRESS,
			COUNTRY,
			CHANNEL_CODE,
			MEDIUM_CNAME,
			FINANCE_POLICY_FLAG,
			PARTER_LEVEL,
			#{historyId,jdbcType=VARCHAR},
			INNER_CODE,
			SUPPORT_FLAG,
			PROCESS_DEPT_CODE,
			PARENT_CHANNEL_CODE,
			AGENT_CODE,
			PROCESS_USER_CODE,
			C_AGENTORG_CDE,
			C_UKEY_CDE
			from channel_medium_detail cmd
		where cmd.channel_code = #{channelCode,jdbcType=VARCHAR}
		and cmd.valid_ind = '1'
	</insert>
</mapper>
