<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosafe.xszc.channel.vo.ConferTurnover" >
	<resultMap id="BaseResultMap" type="java.util.HashMap">
		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="VALID_IND" property="validInd" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="PK_ID" property="pkId" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="LAST_NUMBER" property="lastNumber" jdbcType="INTEGER" javaType="java.lang.Double" />
 		<result column="YEAR" property="year" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="CONFER_TYPE" property="conferType" jdbcType="CHAR" javaType="java.lang.String" />
 	</resultMap>
	
	<resultMap id="BaseResultVo" type="com.sinosafe.xszc.channel.vo.ConferTurnover">
		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="VALID_IND" property="validInd" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="PK_ID" property="pkId" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="LAST_NUMBER" property="lastNumber" jdbcType="INTEGER" javaType="java.lang.Double" />
 		<result column="YEAR" property="year" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="CONFER_TYPE" property="conferType" jdbcType="CHAR" javaType="java.lang.String" />
 	</resultMap>

	<!-- 查询数据列Sql不转换成对应的Java命名 -->
	<sql id="Base_Column_List" >
		UPDATED_USER,
		VALID_IND,
		CREATED_DATE,
		PK_ID,
		CREATED_USER,
		LAST_NUMBER,
		YEAR,
		DEPT_CODE,
		UPDATED_DATE,
		CONFER_TYPE
	</sql>
	
	<!-- 查询数据列Sql换成对应的Java命名 -->
	<sql id="Base_Column_List_JavaName" >
		UPDATED_USER as "updatedUser",
		VALID_IND as "validInd",
		CREATED_DATE as "createdDate",
		PK_ID as "pkId",
		CREATED_USER as "createdUser",
		LAST_NUMBER as "lastNumber",
		YEAR as "year",
		DEPT_CODE as "deptCode",
		UPDATED_DATE as "updatedDate",
		CONFER_TYPE as "conferType"
	</sql>
	
	<!-- 写入操作的SQL -->
	<sql id="Insert_Base_values">
		#{updatedUser,jdbcType=VARCHAR},
 		1,
 		sysdate,
 		#{pkId,jdbcType=VARCHAR},
 		#{createdUser,jdbcType=VARCHAR},
 		#{lastNumber,jdbcType=INTEGER},
 		#{year,jdbcType=VARCHAR},
 		#{deptCode,jdbcType=VARCHAR},
 		sysdate,
 		#{conferType,jdbcType=CHAR}
 	</sql>
	
	<!-- 查询条件的sql -->
	<sql id="Base_Where_Sql">
		<where>
			VALID_IND = 1
		<if test="pkId != null and pkId != ''">
			and PK_ID = #{pkId,jdbcType=VARCHAR}
		</if>
		<if test="year != null and year != ''">
			and YEAR = #{year,jdbcType=VARCHAR}
		</if>
		<if test="deptCode != null and deptCode != ''">
			and DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
		</if>
		<if test="conferType != null and conferType != ''">
			and CONFER_TYPE = #{conferType,jdbcType=CHAR}
		</if>
		</where>
	</sql>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insertVo" parameterType="com.sinosafe.xszc.channel.vo.ConferTurnover" >
    insert into CONFER_TURNOVER (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insert" parameterType="map" >
    insert into CONFER_TURNOVER (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>

<!-- 
	<delete id="deleteByDataKey" parameterType="long">
    delete from CONFER_TURNOVER
    where PK_SERIAL = #{data}
	</delete>
 -->

	<update id="updateByPrimaryKey" parameterType="map" >
		update CONFER_TURNOVER
		set 
			LAST_NUMBER = #{lastNumber,jdbcType=INTEGER},
  			UPDATED_DATE = sysdate,
  			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR}
  		<include refid="Base_Where_Sql" />
	</update>

	<!-- 条件查询总数据量 -->
	<select id="queryCount" parameterType="map" resultType="long">
	select count(1)
	from CONFER_TURNOVER <include refid="Base_Where_Sql" />
	</select>
	
	<!-- 条件查询总数据量 -->
	<select id="queryCountVo" parameterType="com.sinosafe.xszc.channel.vo.ConferTurnover" resultType="long">
	select count(1)
	from CONFER_TURNOVER <include refid="Base_Where_Sql" />
	</select>

	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPage" parameterType="map" resultMap="BaseResultMap">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_List"/>
		from CONFER_TURNOVER
		<include refid="Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPageVo" parameterType="map" resultMap="BaseResultVo">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_List"/>
		from CONFER_TURNOVER
		<include refid="Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 条件查询 -->
	<select id="query" parameterType="map" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from CONFER_TURNOVER
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 条件查询 -->
	<select id="queryVo" parameterType="map" resultMap="BaseResultVo">
		select 
		<include refid="Base_Column_List"/>
		from CONFER_TURNOVER
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 综合条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryPage" parameterType="map" resultMap="BaseResultMap">
	<choose>
		<when test="endpoint!=null and endpoint != '' and startpoint != null and startpoint != ''">
		select * from (
			select a.*,rownum rn from (
				select 
				<include refid="Base_Column_List"/>
				from CONFER_TURNOVER
				<include refid="Base_Where_Sql"/>
			) a where rownum &lt;= #{endpoint}
		) where rn &gt;= #{startpoint}
		</when>
		<otherwise>
		<!-- 这里的"count"重命名不可修改，否则会出现异常 -->
		select count(1) "count" from CONFER_TURNOVER <include refid="Base_Where_Sql" />
		</otherwise>
	</choose>
	</select>
	
	<!-- 条件查询流水号 -->
	<select id="queryLastNumber" parameterType="map" resultType="int">
	select LAST_NUMBER
	from CONFER_TURNOVER <include refid="Base_Where_Sql" />
	</select>
</mapper>
