<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosafe.xszc.law.vo.LawDefineManulStep" >
	
 	<!-- 取出7个任务步骤 -->
	<select id="queryManualTaskList" parameterType="map" resultType="map">
		select t.task_code as "taskCode",
		       t.task_name as "taskName",
		       t.proc_name as "procName"
		  from T_LAW_DEFINE_STEP t
		 where t.valid_ind = '1'
		 order by t.task_code
	</select>
	
	<!-- 取出基本法版本ID,原则上只能取出一个有效的versionId -->
	<select id="queryVersionId" parameterType="map" resultType="java.lang.String">
		select t.version_id as "versionId"
		  from t_law_define t
		 where t.valid_ind = '1'
		   and t.dept_code = #{deptCode,jdbcType=VARCHAR}
		   and t.line_code = '925007'
	</select>
	
	<!-- 某个基本法是已经存在 -->
	<select id="existsLawVersion" parameterType="map" resultType="long">
		select count(1)
		  from t_law_define_manual t
		 where t.version_id = '1'
		   and t.dept_code = #{deptCode,jdbcType=VARCHAR}
		   and t.line_code = #{lineCode,jdbcType=VARCHAR}
		   and t.calc_month = #{calcMonth,jdbcType=VARCHAR}
		   and t.task_code = #{taskCode,jdbcType=VARCHAR}
	</select>
	
 	<!-- 插入手动执行的任务 -->
 	<insert id="insertManualStep" parameterType="map">
 	      insert into t_Law_Define_Manual
          (PK_ID,
           VERSION_ID,
           DEPT_CODE,
           LINE_CODE,
           CALC_MONTH,
           PROC_NAME,
           TASK_CODE,
           TASK_STATUS,
           REMARK,
           VALID_IND,
           CREATED_USER,
           CREATED_DATE,
           UPDATED_USER,
           UPDATED_DATE)
        values
          (sys_guid(),
           #{versionId,jdbcType=VARCHAR},
           #{deptCode,jdbcType=VARCHAR},
           '925007',
           #{calcMonth,jdbcType=VARCHAR},
           #{procName,jdbcType=VARCHAR},
           #{taskCode,jdbcType=VARCHAR},
           '1',
           #{taskName,jdbcType=VARCHAR},
           '1',
           'sunyf',
           sysdate,
           'sunyf',
           sysdate)
 	</insert>
	
</mapper>