<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosafe.xszc.law.vo.TRankFactor" >
	<resultMap id="BaseResultMap" type="java.util.HashMap">
		<id column="SERNO" property="serno" javaType="java.lang.String" jdbcType="INTEGER" />
		<result column="VALID_IND" property="validInd" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="FACTOR_CODE" property="factorCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CHANNEL_ID" property="channelId" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="LAST_OPT" property="lastOpt" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="ORDER_NO" property="orderNo" jdbcType="INTEGER" javaType="java.lang.String" />
 		<result column="VERSION_ID" property="versionId" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="RANK_CODE" property="rankCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="OPT_DATE" property="optDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="EXHIBIT_TYPE" property="exhibitType" jdbcType="INTEGER" javaType="java.lang.String" />
  	</resultMap>
	
	<resultMap id="BaseResultVo" type="com.sinosafe.xszc.law.vo.TRankFactor">
		<id column="SERNO" property="serno" javaType="java.lang.String" jdbcType="INTEGER" />
		<result column="VALID_IND" property="validInd" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="FACTOR_CODE" property="factorCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CHANNEL_ID" property="channelId" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="LAST_OPT" property="lastOpt" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="ORDER_NO" property="orderNo" jdbcType="INTEGER" javaType="java.lang.String" />
 		<result column="VERSION_ID" property="versionId" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="RANK_CODE" property="rankCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="OPT_DATE" property="optDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="EXHIBIT_TYPE" property="exhibitType" jdbcType="INTEGER" javaType="java.lang.String" />
  	</resultMap>

	<!-- 查询数据列Sql不转换成对应的Java命名 -->
	<sql id="Base_Column_List" >
		VALID_IND,
		FACTOR_CODE,
		CHANNEL_ID,
		LAST_OPT,
		ORDER_NO,
		VERSION_ID,
		RANK_CODE,
		OPT_DATE,
		EXHIBIT_TYPE,
		SERNO
	</sql>
	
		<!-- 查询数据列Sql不转换成对应的Java命名 -->
	<sql id="Base_Column_Lists" >
		trf.VALID_IND,
		trf.FACTOR_CODE,
		trf.CHANNEL_ID,
		trf.LAST_OPT,
		trf.ORDER_NO,
		trf.VERSION_ID,
		trf.RANK_CODE,
		trf.OPT_DATE,
		trf.EXHIBIT_TYPE,
		trf.SERNO
	</sql>
	
	<!-- 查询数据列Sql换成对应的Java命名 -->
	<sql id="Base_Column_List_JavaName" >
		VALID_IND as "validInd",
		FACTOR_CODE as "factorCode",
		CHANNEL_ID as "channelId",
		LAST_OPT as "lastOpt",
		ORDER_NO as "orderNo",
		VERSION_ID as "versionId",
		RANK_CODE as "rankCode",
		OPT_DATE as "optDate",
		EXHIBIT_TYPE as "exhibitType",
		SERNO as "serno"
	</sql>
	
	<!-- 写入操作的SQL -->
	<sql id="Insert_Base_values">
		#{validInd,jdbcType=CHAR},
 		#{factorCode,jdbcType=VARCHAR},
 		#{channelId,jdbcType=VARCHAR},
 		#{lastOpt,jdbcType=VARCHAR},
 		#{orderNo,jdbcType=INTEGER},
 		#{versionId,jdbcType=VARCHAR},
 		#{rankCode,jdbcType=VARCHAR},
 		sysdate,
 		#{exhibitType,jdbcType=INTEGER},
 		#{serno,jdbcType=INTEGER}
 	</sql>
	
	<!-- 查询条件的sql -->
	<sql id="Base_Where_Sql">
		<if test="validInd != null and validInd != ''">
			and trf.VALID_IND = #{validInd,jdbcType=CHAR}
		</if>
		<if test="factorCode != null and factorCode != ''">
			and trf.FACTOR_CODE = #{factorCode,jdbcType=VARCHAR}
		</if>
		<if test="channelId != null and channelId != ''">
			and trf.CHANNEL_ID = #{channelId,jdbcType=VARCHAR}
		</if>
		<if test="lastOpt != null and lastOpt != ''">
			and trf.LAST_OPT = #{lastOpt,jdbcType=VARCHAR}
		</if>
		<if test="orderNo != null and orderNo != ''">
			and trf.ORDER_NO = #{orderNo,jdbcType=INTEGER}
		</if>
		<if test="versionId != null and versionId != ''">
			and trf.VERSION_ID = #{versionId,jdbcType=VARCHAR}
		</if>
		<if test="rankCode != null and rankCode != ''">
			and trf.RANK_CODE = #{rankCode,jdbcType=VARCHAR}
		</if>
		<if test="optDate != null and optDate != ''">
			and trf.OPT_DATE = #{optDate,jdbcType=DATE}
		</if>
		<if test="exhibitType != null and exhibitType != ''">
			and trf.EXHIBIT_TYPE = #{exhibitType,jdbcType=INTEGER}
		</if>
		<if test="serno != null and serno != ''">
			and trf.SERNO = #{serno,jdbcType=INTEGER}
		</if>
	</sql>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insertVo" parameterType="com.sinosafe.xszc.law.vo.TRankFactor" >
    insert into t_law_rank_factor (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insert" parameterType="map" >
    insert into t_law_rank_factor (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_law_rank_factor
    where SERNO = #{serno,jdbcType=INTEGER}
	</delete>
<!-- 
	<delete id="deleteByDataKey" parameterType="long">
    delete from t_law_rank_factor
    where PK_SERIAL = #{data}
	</delete>
 -->
	<update id="updateByPrimaryKeySelective" parameterType="map" >
	update t_law_rank_factor
	<set>
	<if test="validInd != null and validInd != ''">
		VALID_IND = #{validInd,jdbcType=CHAR},
	</if>
  	<if test="factorCode != null and factorCode != ''">
		FACTOR_CODE = #{factorCode,jdbcType=VARCHAR},
	</if>
  	<if test="channelId != null and channelId != ''">
		CHANNEL_ID = #{channelId,jdbcType=VARCHAR},
	</if>
  	<if test="lastOpt != null and lastOpt != ''">
		LAST_OPT = #{lastOpt,jdbcType=VARCHAR},
	</if>
  	<if test="orderNo != null and orderNo != ''">
		ORDER_NO = #{orderNo,jdbcType=INTEGER},
	</if>
  	<if test="versionId != null and versionId != ''">
		VERSION_ID = #{versionId,jdbcType=VARCHAR},
	</if>
  	<if test="rankCode != null and rankCode != ''">
		RANK_CODE = #{rankCode,jdbcType=VARCHAR},
	</if>
  	<if test="optDate != null and optDate != ''">
		OPT_DATE = #{optDate,jdbcType=DATE},
	</if>
  	<if test="exhibitType != null and exhibitType != ''">
		EXHIBIT_TYPE = #{exhibitType,jdbcType=INTEGER},
	</if>
   	</set>
	where SERNO = #{serno,jdbcType=INTEGER}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="map" >
		update t_law_rank_factor
		set 
			VALID_IND = #{validInd,jdbcType=CHAR},
  			FACTOR_CODE = #{factorCode,jdbcType=VARCHAR},
  			CHANNEL_ID = #{channelId,jdbcType=VARCHAR},
  			LAST_OPT = #{lastOpt,jdbcType=VARCHAR},
  			ORDER_NO = #{orderNo,jdbcType=INTEGER},
  			VERSION_ID = #{versionId,jdbcType=VARCHAR},
  			RANK_CODE = #{rankCode,jdbcType=VARCHAR},
  			OPT_DATE = sysdate,
  			EXHIBIT_TYPE = #{exhibitType,jdbcType=INTEGER}
   		where SERNO = #{serno,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKeySelectiveVo" parameterType="com.sinosafe.xszc.law.vo.TRankFactor" >
	update t_law_rank_factor
	<set>
	<if test="validInd != null and validInd != ''">
		VALID_IND = #{validInd,jdbcType=CHAR},
	</if>
  	<if test="factorCode != null and factorCode != ''">
		FACTOR_CODE = #{factorCode,jdbcType=VARCHAR},
	</if>
  	<if test="channelId != null and channelId != ''">
		CHANNEL_ID = #{channelId,jdbcType=VARCHAR},
	</if>
  	<if test="lastOpt != null and lastOpt != ''">
		LAST_OPT = #{lastOpt,jdbcType=VARCHAR},
	</if>
  	<if test="orderNo != null and orderNo != ''">
		ORDER_NO = #{orderNo,jdbcType=INTEGER},
	</if>
  	<if test="versionId != null and versionId != ''">
		VERSION_ID = #{versionId,jdbcType=VARCHAR},
	</if>
  	<if test="rankCode != null and rankCode != ''">
		RANK_CODE = #{rankCode,jdbcType=VARCHAR},
	</if>
  	<if test="optDate != null and optDate != ''">
		OPT_DATE = #{optDate,jdbcType=DATE},
	</if>
  	<if test="exhibitType != null and exhibitType != ''">
		EXHIBIT_TYPE = #{exhibitType,jdbcType=INTEGER},
	</if>
   	</set>
	where SERNO = #{serno,jdbcType=INTEGER}
	</update>
	
	<update id="updateByPrimaryKeyVo" parameterType="com.sinosafe.xszc.law.vo.TRankFactor" >
		update t_law_rank_factor
		set 
			VALID_IND = #{validInd,jdbcType=CHAR},
  			FACTOR_CODE = #{factorCode,jdbcType=VARCHAR},
  			CHANNEL_ID = #{channelId,jdbcType=VARCHAR},
  			LAST_OPT = #{lastOpt,jdbcType=VARCHAR},
  			ORDER_NO = #{orderNo,jdbcType=INTEGER},
  			VERSION_ID = #{versionId,jdbcType=VARCHAR},
  			RANK_CODE = #{rankCode,jdbcType=VARCHAR},
  			OPT_DATE = sysdate,
  			EXHIBIT_TYPE = #{exhibitType,jdbcType=INTEGER}
   		where SERNO = #{serno,jdbcType=INTEGER}
	</update>

	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_Lists" />,
		      	trd.rank_name as "rankName",
		       	tld.version_cname as "versionCname",
		       	case
                     when substr(trf.factor_code, 1, 1) = 'F' then
                      tfd.item_name
                     when substr(trf.factor_code, 1, 1) = 'W' then
                      tids.index_name 
                 end as "itemName"
		  from t_law_rank_factor trf
				  left join t_factor_def tfd on trf.factor_code = tfd.item_code and tfd.valid_ind = '1'
				  left join t_law_index_def tids on trf.factor_code = tids.index_code
				  left join t_law_rank_def trd on trf.rank_code = trd.rank_code and trd.valid_ind = '1'
				  left join t_law_define tld on trf.version_id = tld.version_code and tld.valid_ind = '1'
         where trf.valid_ind = '1'
          		 and trf.SERNO = #{serno,jdbcType=INTEGER}
	</select>
	
	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKeyVo" resultMap="BaseResultVo" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
	from t_law_rank_factor
	where SERNO = #{serno,jdbcType=INTEGER}
	</select>

	<!-- 条件查询总数据量 -->
	<select id="queryCount" parameterType="map" resultType="long">
	select count(1)
	        from t_law_rank_factor trf
         		 left join t_law_rank_def trd on trf.rank_code = trd.rank_code and trd.valid_ind = '1'
         		 left join t_law_index_def tids on trf.factor_code = tids.index_code
         		 left join t_factor_def tfd on trf.factor_code = tfd.item_code and tfd.valid_ind = '1'
          where trf.valid_ind = '1'
          <include refid="Base_Where_Sql" />
	</select>
	
	<!-- 条件查询总数据量 -->
	<select id="queryCountVo" parameterType="com.sinosafe.xszc.law.vo.TRankFactor" resultType="long">
	select count(1)
	from t_law_rank_factor <include refid="Base_Where_Sql" />
	</select>

	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPage" parameterType="map" resultMap="BaseResultMap">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_Lists"/>,
		          trd.rank_name as "rankName",
         		 case
                     when substr(trf.factor_code, 1, 1) = 'F' then
                      tfd.item_name
                     when substr(trf.factor_code, 1, 1) = 'W' then
                      tids.index_name 
                 end as "itemName"
        from t_law_rank_factor trf
         		 left join t_law_rank_def trd on trf.rank_code = trd.rank_code and trd.valid_ind = '1'
         		 left join t_law_index_def tids on trf.factor_code = tids.index_code
         		 left join t_factor_def tfd on trf.factor_code = tfd.item_code and tfd.valid_ind = '1'
          where trf.valid_ind = '1'
		<include refid="Base_Where_Sql"/>
		order by trf.order_no asc
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPageVo" parameterType="map" resultMap="BaseResultVo">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_List"/>
		from t_law_rank_factor
		<include refid="Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 条件查询 -->
	<select id="query" parameterType="map" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from t_law_rank_factor
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 条件查询 -->
	<select id="queryVo" parameterType="map" resultMap="BaseResultVo">
		select 
		<include refid="Base_Column_List"/>
		from t_law_rank_factor
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 综合条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryPage" parameterType="map" resultMap="BaseResultMap">
	<choose>
		<when test="endpoint!=null and endpoint != '' and startpoint != null and startpoint != ''">
		select * from (
			select a.*,rownum rn from (
				select 
				<include refid="Base_Column_List"/>
				from t_law_rank_factor
				<include refid="Base_Where_Sql"/>
			) a where rownum &lt;= #{endpoint}
		) where rn &gt;= #{startpoint}
		</when>
		<otherwise>
		<!-- 这里的"count"重命名不可修改，否则会出现异常 -->
		select count(1) "count" from t_law_rank_factor <include refid="Base_Where_Sql" />
		</otherwise>
	</choose>
	</select>
	
	<!-- 生成流水号-->
	<select id="serialNumber" parameterType="com.sinosafe.xszc.law.vo.TRankFactor" resultType="long">
			SELECT max(t.serno) + 1
			  from t_law_rank_factor t
	</select>
	
	<!-- 删除 -->
	<update id="deleteByPrimaryKeyVo" parameterType="com.sinosafe.xszc.law.vo.TRankFactor" >
		update t_law_rank_factor
		set 
  			VALID_IND = '0',
  			OPT_DATE = sysdate
  		where SERNO = #{serno,jdbcType=INTEGER}
	</update>
	
</mapper>
