<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosafe.xszc.planNew.vo.PlanDetailNew" >
	<resultMap id="BaseResultMap" type="java.util.HashMap">
		<id column="PLAN_DEPT_ID" property="planDeptId" javaType="java.lang.String" jdbcType="VARCHAR" />
 		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="LINE_CODE" property="lineCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DEPT_RISK_TYPE" property="deptRiskType" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="STATUS" property="status" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="VALID_IND" property="validInd" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="CONTENT" property="content" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="PLAN_MAIN_ID" property="planMainId" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="PLAN_FEE" property="planFee" jdbcType="DOUBLE" javaType="java.lang.Double" />
 	</resultMap>
	
	<resultMap id="BaseResultVo" type="com.sinosafe.xszc.planNew.vo.PlanDetailNew">
		<id column="PLAN_DEPT_ID" property="planDeptId" javaType="java.lang.String" jdbcType="VARCHAR" />
 		<result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="LINE_CODE" property="lineCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="DEPT_RISK_TYPE" property="deptRiskType" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="UPDATED_DATE" property="updatedDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="STATUS" property="status" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="VALID_IND" property="validInd" jdbcType="CHAR" javaType="java.lang.String" />
 		<result column="CREATED_DATE" property="createdDate" jdbcType="DATE" javaType="java.sql.Timestamp" />
 		<result column="CONTENT" property="content" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="PLAN_MAIN_ID" property="planMainId" jdbcType="VARCHAR" javaType="java.lang.String" />
 		<result column="PLAN_FEE" property="planFee" jdbcType="DOUBLE" javaType="java.lang.Double" />
 	</resultMap>

	<!-- 查询数据列Sql不转换成对应的Java命名 -->
	<sql id="Base_Column_List" >
		PLAN_DEPT_ID,
		UPDATED_USER,
		LINE_CODE,
		CREATED_USER,
		DEPT_CODE,
		DEPT_RISK_TYPE,
		REMARK,
		UPDATED_DATE,
		STATUS,
		VALID_IND,
		CREATED_DATE,
		CONTENT,
		PLAN_MAIN_ID,
		PLAN_FEE
	</sql>
	
	<!-- 查询数据列Sql换成对应的Java命名 -->
	<sql id="Base_Column_List_JavaName" >
		PLAN_DEPT_ID as "planDeptId",
		UPDATED_USER as "updatedUser",
		LINE_CODE as "lineCode",
		CREATED_USER as "createdUser",
		DEPT_CODE as "deptCode",
		DEPT_RISK_TYPE as "deptRiskType",
		REMARK as "remark",
		UPDATED_DATE as "updatedDate",
		STATUS as "status",
		VALID_IND as "validInd",
		CREATED_DATE as "createdDate",
		CONTENT as "content",
		PLAN_MAIN_ID as "planMainId",
		PLAN_FEE as "planFee"
	</sql>
	
	<!-- 写入操作的SQL -->
	<sql id="Insert_Base_values">
		#{planDeptId,jdbcType=VARCHAR},
 		#{updatedUser,jdbcType=VARCHAR},
 		#{lineCode,jdbcType=VARCHAR},
 		#{createdUser,jdbcType=VARCHAR},
 		#{deptCode,jdbcType=VARCHAR},
 		#{deptRiskType,jdbcType=CHAR},
 		#{remark,jdbcType=VARCHAR},
 		#{updatedDate,jdbcType=DATE},
 		#{status,jdbcType=CHAR},
 		#{validInd,jdbcType=CHAR},
 		#{createdDate,jdbcType=DATE},
 		#{content,jdbcType=VARCHAR},
 		#{planMainId,jdbcType=VARCHAR},
 		#{planFee,jdbcType=DOUBLE}
 	</sql>
	
	<!-- 查询条件的sql -->
	<sql id="Base_Where_Sql">
		<where>
		<if test="planDeptId != null and planDeptId != ''">
			and PLAN_DEPT_ID = #{planDeptId,jdbcType=VARCHAR}
		</if>
		<if test="updatedUser != null and updatedUser != ''">
			and UPDATED_USER = #{updatedUser,jdbcType=VARCHAR}
		</if>
		<if test="lineCode != null and lineCode != ''">
			and LINE_CODE = #{lineCode,jdbcType=VARCHAR}
		</if>
		<if test="createdUser != null and createdUser != ''">
			and CREATED_USER = #{createdUser,jdbcType=VARCHAR}
		</if>
		<if test="deptCode != null and deptCode != ''">
			and DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
		</if>
		<if test="deptRiskType != null and deptRiskType != ''">
			and DEPT_RISK_TYPE = #{deptRiskType,jdbcType=CHAR}
		</if>
		<if test="remark != null and remark != ''">
			and REMARK = #{remark,jdbcType=VARCHAR}
		</if>
		<if test="updatedDate != null and updatedDate != ''">
			and UPDATED_DATE = #{updatedDate,jdbcType=DATE}
		</if>
		<if test="status != null and status != ''">
			and STATUS = #{status,jdbcType=CHAR}
		</if>
		<if test="validInd != null and validInd != ''">
			and VALID_IND = #{validInd,jdbcType=CHAR}
		</if>
		<if test="createdDate != null and createdDate != ''">
			and CREATED_DATE = #{createdDate,jdbcType=DATE}
		</if>
		<if test="content != null and content != ''">
			and CONTENT = #{content,jdbcType=VARCHAR}
		</if>
		<if test="planMainId != null and planMainId != ''">
			and PLAN_MAIN_ID = #{planMainId,jdbcType=VARCHAR}
		</if>
		<if test="planFee != null and planFee != ''">
			and PLAN_FEE = #{planFee,jdbcType=DOUBLE}
		</if>
		</where>
	</sql>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insertVo" parameterType="com.sinosafe.xszc.planNew.vo.PlanDetailNew" >
    insert into PLAN_DETAIL_NEW (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>
	
	<!-- 
		insert操作给定的参数是java.util.Map<String,Object>类型的对象，
		与<sql id="Insert_Base_values">中配置的列一致
	-->
	<insert id="insert" parameterType="map" >
    insert into PLAN_DETAIL_NEW (
		<include refid="Base_Column_List" />
    )
	values (
		<include refid="Insert_Base_values" />
    )
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PLAN_DETAIL_NEW
    where PLAN_DEPT_ID = #{planDeptId,jdbcType=VARCHAR}
	</delete>
<!-- 
	<delete id="deleteByDataKey" parameterType="long">
    delete from PLAN_DETAIL_NEW
    where PK_SERIAL = #{data}
	</delete>
 -->
	<update id="updateByPrimaryKeySelective" parameterType="map" >
	update PLAN_DETAIL_NEW
	<set>
 	<if test="updatedUser != null and updatedUser != ''">
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
	</if>
  	<if test="lineCode != null and lineCode != ''">
		LINE_CODE = #{lineCode,jdbcType=VARCHAR},
	</if>
  	<if test="createdUser != null and createdUser != ''">
		CREATED_USER = #{createdUser,jdbcType=VARCHAR},
	</if>
  	<if test="deptCode != null and deptCode != ''">
		DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
	</if>
  	<if test="deptRiskType != null and deptRiskType != ''">
		DEPT_RISK_TYPE = #{deptRiskType,jdbcType=CHAR},
	</if>
  	<if test="remark != null and remark != ''">
		REMARK = #{remark,jdbcType=VARCHAR},
	</if>
  	<if test="updatedDate != null and updatedDate != ''">
		UPDATED_DATE = #{updatedDate,jdbcType=DATE},
	</if>
  	<if test="status != null and status != ''">
		STATUS = #{status,jdbcType=CHAR},
	</if>
  	<if test="validInd != null and validInd != ''">
		VALID_IND = #{validInd,jdbcType=CHAR},
	</if>
  	<if test="createdDate != null and createdDate != ''">
		CREATED_DATE = #{createdDate,jdbcType=DATE},
	</if>
  	<if test="content != null and content != ''">
		CONTENT = #{content,jdbcType=VARCHAR},
	</if>
  	<if test="planMainId != null and planMainId != ''">
		PLAN_MAIN_ID = #{planMainId,jdbcType=VARCHAR},
	</if>
  	<if test="planFee != null and planFee != ''">
		PLAN_FEE = #{planFee,jdbcType=DOUBLE}
	</if>
  	</set>
	where PLAN_DEPT_ID = #{planDeptId,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="map" >
		update PLAN_DETAIL_NEW
		set 
 			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
  			LINE_CODE = #{lineCode,jdbcType=VARCHAR},
  			CREATED_USER = #{createdUser,jdbcType=VARCHAR},
  			DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
  			DEPT_RISK_TYPE = #{deptRiskType,jdbcType=CHAR},
  			REMARK = #{remark,jdbcType=VARCHAR},
  			UPDATED_DATE = #{updatedDate,jdbcType=DATE},
  			STATUS = #{status,jdbcType=CHAR},
  			VALID_IND = #{validInd,jdbcType=CHAR},
  			CREATED_DATE = #{createdDate,jdbcType=DATE},
  			CONTENT = #{content,jdbcType=VARCHAR},
  			PLAN_MAIN_ID = #{planMainId,jdbcType=VARCHAR},
  			PLAN_FEE = #{planFee,jdbcType=DOUBLE}
  		where PLAN_DEPT_ID = #{planDeptId,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKeySelectiveVo" parameterType="com.sinosafe.xszc.planNew.vo.PlanDetailNew" >
	update PLAN_DETAIL_NEW
	<set>
 	<if test="updatedUser != null and updatedUser != ''">
		UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
	</if>
  	<if test="lineCode != null and lineCode != ''">
		LINE_CODE = #{lineCode,jdbcType=VARCHAR},
	</if>
  	<if test="createdUser != null and createdUser != ''">
		CREATED_USER = #{createdUser,jdbcType=VARCHAR},
	</if>
  	<if test="deptCode != null and deptCode != ''">
		DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
	</if>
  	<if test="deptRiskType != null and deptRiskType != ''">
		DEPT_RISK_TYPE = #{deptRiskType,jdbcType=CHAR},
	</if>
  	<if test="remark != null and remark != ''">
		REMARK = #{remark,jdbcType=VARCHAR},
	</if>
  	<if test="updatedDate != null and updatedDate != ''">
		UPDATED_DATE = #{updatedDate,jdbcType=DATE},
	</if>
  	<if test="status != null and status != ''">
		STATUS = #{status,jdbcType=CHAR},
	</if>
  	<if test="validInd != null and validInd != ''">
		VALID_IND = #{validInd,jdbcType=CHAR},
	</if>
  	<if test="createdDate != null and createdDate != ''">
		CREATED_DATE = #{createdDate,jdbcType=DATE},
	</if>
  	<if test="content != null and content != ''">
		CONTENT = #{content,jdbcType=VARCHAR},
	</if>
  	<if test="planMainId != null and planMainId != ''">
		PLAN_MAIN_ID = #{planMainId,jdbcType=VARCHAR},
	</if>
  	<if test="planFee != null and planFee != ''">
		PLAN_FEE = #{planFee,jdbcType=DOUBLE}
	</if>
  	</set>
	where PLAN_DEPT_ID = #{planDeptId,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKeyVo" parameterType="com.sinosafe.xszc.planNew.vo.PlanDetailNew" >
		update PLAN_DETAIL_NEW
		set 
 			UPDATED_USER = #{updatedUser,jdbcType=VARCHAR},
  			LINE_CODE = #{lineCode,jdbcType=VARCHAR},
  			CREATED_USER = #{createdUser,jdbcType=VARCHAR},
  			DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
  			DEPT_RISK_TYPE = #{deptRiskType,jdbcType=CHAR},
  			REMARK = #{remark,jdbcType=VARCHAR},
  			UPDATED_DATE = #{updatedDate,jdbcType=DATE},
  			STATUS = #{status,jdbcType=CHAR},
  			VALID_IND = #{validInd,jdbcType=CHAR},
  			CREATED_DATE = #{createdDate,jdbcType=DATE},
  			CONTENT = #{content,jdbcType=VARCHAR},
  			PLAN_MAIN_ID = #{planMainId,jdbcType=VARCHAR},
  			PLAN_FEE = #{planFee,jdbcType=DOUBLE}
  		where PLAN_DEPT_ID = #{planDeptId,jdbcType=VARCHAR}
	</update>

	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
	from PLAN_DETAIL_NEW
	where PLAN_DEPT_ID = #{planDeptId,jdbcType=VARCHAR}
	</select>
	<!-- 根据Id查询一条数据 -->
	<select id="selectByPrimaryKeyVo" resultMap="BaseResultVo" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
	from PLAN_DETAIL_NEW
	where PLAN_DEPT_ID = #{planDeptId,jdbcType=VARCHAR}
	</select>
	
	<!-- 根据计划ID查明细 -->
	<select id="selectPlanDetailByPlanIdVo" resultMap="BaseResultVo" parameterType="java.lang.String" >
	    select <include refid="Base_Column_List" />
		from PLAN_DETAIL_NEW
		where plan_main_id=#{planMainId,jdbcType=VARCHAR}
	</select>
	
	<!-- 根据计划ID查明细 -->
	<select id="selectPlanDetailByPlanId" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select b.dept_risk_type,b.line_code,b.plan_fee,a.sumv from (
			select  c.dept_risk_type,sum(c.plan_fee) sumv from (
			    select nvl(t.dept_risk_type,4) dept_risk_type,LINE_CODE,PLAN_FEE 
			    from plan_detail_NEW t 
			    where plan_main_id=#{planMainId,jdbcType=VARCHAR} 
			    order by t.dept_risk_type asc,LINE_CODE asc
			) c group by c.dept_risk_type) A,
			(
			    select nvl(t.dept_risk_type,4) dept_risk_type,LINE_CODE,PLAN_FEE 
			    from plan_detail_NEW t 
			    where plan_main_id=#{planMainId,jdbcType=VARCHAR} 
			    order by t.dept_risk_type asc,LINE_CODE asc
			) B 
		where a.dept_risk_type=b.dept_risk_type
	</select>

	<!-- 条件查询总数据量 -->
	<select id="queryCount" parameterType="map" resultType="long">
	select count(1)
	from PLAN_DETAIL_NEW <include refid="Base_Where_Sql" />
	</select>
	
	<!-- 查询某个id是否存在 -->
	<select id="countByPrimaryKey" resultType="long" parameterType="java.lang.String" >
    select count(1) count 
    from PLAN_DETAIL_NEW 
	where PLAN_DEPT_ID = #{detailId,jdbcType=VARCHAR}  and VALID_IND = '1'
	</select>
	
	<!-- 条件查询总数据量 -->
	<select id="queryCountVo" parameterType="com.sinosafe.xszc.planNew.vo.PlanDetailNew" resultType="long">
	select count(1)
	from PLAN_DETAIL_NEW <include refid="Base_Where_Sql" />
	</select>

	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPage" parameterType="map" resultMap="BaseResultMap">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_List"/>
		from PLAN_DETAIL_NEW
		<include refid="Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 单独条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryListPageVo" parameterType="map" resultMap="BaseResultVo">
	select * from (
		select a.*,rownum rn from (
		select 
		<include refid="Base_Column_List"/>
		from PLAN_DETAIL_NEW
		<include refid="Base_Where_Sql"/>
		) a where rownum &lt;= #{endpoint}
	) where rn &gt;= #{startpoint}
	</select>
	
	<!-- 条件查询 -->
	<select id="query" parameterType="map" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from PLAN_DETAIL_NEW
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 条件查询 -->
	<select id="queryVo" parameterType="map" resultMap="BaseResultVo">
		select 
		<include refid="Base_Column_List"/>
		from PLAN_DETAIL_NEW
		<include refid="Base_Where_Sql"/>
	</select>
	
	<!-- 综合条件分页查询语句,注意下面语句中的endpoint和startpoint这两个名称不可修改，否则将导致sql错误 -->
	<select id="queryPage" parameterType="map" resultMap="BaseResultMap">
	<choose>
		<when test="endpoint!=null and endpoint != '' and startpoint != null and startpoint != ''">
		select * from (
			select a.*,rownum rn from (
				select 
				<include refid="Base_Column_List"/>
				from PLAN_DETAIL_NEW
				<include refid="Base_Where_Sql"/>
			) a where rownum &lt;= #{endpoint}
		) where rn &gt;= #{startpoint}
		</when>
		<otherwise>
		<!-- 这里的"count"重命名不可修改，否则会出现异常 -->
		select count(1) "count" from PLAN_DETAIL_NEW <include refid="Base_Where_Sql" />
		</otherwise>
	</choose>
	</select>
	
	
</mapper>
